.animated{
    animation-name:fadeInUp;
    margin-top: 60px;
}
.userIcon{
    width: 24px;
    margin-right: 10px;
    height: 24px;
  
}
.text-center.user-semi-title {
    display: flex;
    margin-left: 25px;
    font-size: 14px;
}
.profile-dropdown.show .dropdown-menu {
    left: -40px !important;
}
.profile-dropdown.show .dropdown-menu.animated {
    margin-top: 40px;
}
.menuItems.dropdown-menu span.text-center.user-semi-title {
    margin: 0;
    padding: 0.5rem 1.5rem;
    text-transform: capitalize;
}
.menuItems.dropdown-menu  a svg {
    margin-right: 10px;
}


.app-header.header.top-header .d-flex {
    display: flex;
    align-items: center;
}
.app-header.header.top-header .app-sidebar__toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0;
    padding-bottom: 0;
}


@media (max-width: 767.98px) and (min-width: 576px){
    .header .form-inline .btn {
        position: absolute !important;
    }
}
.app-header .header-brand{margin-right:0 !important}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,10%,0) !important;
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.dropdown-toggle::after{
    display: none;
}

::ng-deep{
    @media only screen and (max-width: 767px) and (min-width: 568px){
        .dark-mode{
            .app.light-mode .app-header .header-brand .header-brand-img.desktop-lgo{
                display: none !important;
            }
            .dark-logo{
                display: block !important;
                margin-top: 6px;
            }
        }
    }
    @media only screen and (max-width: 567px){
        .dark-mode{
            .app.light-mode .app-header .header-brand .header-brand-img.mobile-logo {
                display: none !important;
            }
            .header-brand-img.darkmobile-logo{
                margin-top: 8px;
            }
        }
    }

    
    .boxed{
        .header-option .dropdown-menu{
            left: 0 !important;
            right: initial !important;
        }
    }

    @media (max-width: 767.98px) and (min-width: 576px){
        .header-brand-img.mobile-logo,
        .dark-logo,
        .darkmobile-logo{
            display: none ;
        }
    }
    
    .dark-mode{
        @media (max-width: 767.98px) and (min-width: 576px){
            .header-brand-img.desktop-lgo{
                display: none !important;
            }
        }
        @media (min-width:568px) {
            .card .header .desktop-lgo{
                display: none;
            }
            .card .header  .dark-logo{
                display: initial;
            }
        }
    }
    
    @media (min-width:568px) {
        .bg-primary  .desktop-lgo{
            display: none;
        }
        .bg-primary .dark-logo{
            display: initial;
        }
    }
}