
						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-popoverTitle">Tooltip and Popover</h4>
							</div>
							<div class="page-rightheader ms-auto d-lg-flex d-none">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Home</span></a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">Elements</a></li>
									<li class="breadcrumb-item active" aria-current="page">Tooltip and Popover</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->

						<!-- Row -->
						<div class="row">
							<div class="col-lg-12">
								<!--div-->
								<div class="card mb-4" id="popover">
									<div class="card-header">
										<div class="card-popoverTitle">
											Default Popover
										</div>
									</div>
									<div class="card-body">

										<div class="form-label mb-2">
											Static Example
										</div>
										<div class="popover-static-demo mb-4 border br-3 pb-6">
											<div class="row row-sm">
												<div class="col-md-6 mt-4">
													<div class="popover bs-popover-top">
														<div class="popover-arrow"></div>
														<h3 class="popover-header">Popover top</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-4">
													<div class="popover bs-popover-bottom">
														<div class="popover-arrow"></div>
														<h3 class="popover-header">Popover Bottom</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-4">
													<div class="popover bs-popover-end">
														<div class="popover-arrow"></div>
														<h3 class="popover-header">Popover Right</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-4">
													<div class="popover bs-popover-start">
														<div class="popover-arrow"></div>
														<h3 class="popover-header">Popover Left</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-label mb-2">
											Example
										</div>
										<div class="px-4 bg-light border br-3 pt-4 pb-5">
											<div class="row row-sm text-center">
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-secondary" container="body" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="top" popover-color="default" toggle="popover" popoverTitle="Popover top" type="button">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-secondary" container="body" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="bottom" popover-color="default" toggle="popover" popoverTitle="Popover bottom" type="button">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-secondary" container="body" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="right" popover-color="default" toggle="popover	" popoverTitle="Popover right" type="button">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-secondary" container="body" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="left" popover-color="default" toggle="popover" popoverTitle="Popover left" type="button">Click me</button>
												</div>			
											</div>
										</div>
									</div>
								</div>
								<!--/div-->
								<!--div-->
								<div class="card mb-4" id="popover1">
									<div class="card-header">
										<div class="card-popoverTitle">
											Colored Head Popover
										</div>
									</div>
									<div class="card-body">
										<div class="form-label mb-2">
											Static Example
										</div>
										<div class="popover-static-demo mb-4">
											<div class="row row-sm">
												<div class="col-md-6">
													<div class="popover popover-head-primary bs-popover-top">
														<div class="popover-arrow"></div>
														<h3 class="popover-header">Popover top</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-5 mt-md-0">
													<div class="popover popover-head-secondary bs-popover-bottom">
														<div class="popover-arrow"></div>
														<h3 class="popover-header">Popover Bottom</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-label mb-2">
											Example
										</div>
										<div class="px-4 bg-light border br-3 pt-4 pb-5">
											<div class="row row-sm text-center">
												<div class="col-sm-6 col-lg-3  mt-3 text-center">
													<button class="btn btn-secondary" container="body" popoverClass= popover-head-primary ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="top" popover-color="head-primary" popoverTitle="Popover top" type="button">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3 text-center">
													<button class="btn btn-secondary" container="body" popoverClass="popover-head-secondary" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="bottom" popover-color="head-secondary" popoverTitle="Popover bottom" type="button">Click me</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/div-->
								<!--div-->
								<div class="card" id="popover2">
									<div class="card-header">
										<div class="card-popoverTitle">
											Full Colored Popover
										</div>
									</div>
									<div class="card-body">
										<div class="form-label mb-2">
											Static Example
										</div>
										<div class="popover-static-demo mb-4 pb-6">
											<div class="row row-sm">
												<div class="col-md-6 mt-4">
													<div class="popover popover-primary bs-popover-top">
														<div class="popover-arrow"></div>
														<h3 class="popover-header">Popover top</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-4">
													<div class="popover popover-secondary bs-popover-bottom">
														<div class="popover-arrow"></div>
														<h3 class="popover-header">Popover Bottom</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-label mb-2">
											Example
										</div>
										<div class="px-4 bg-light border br-3 pb-5 pt-4">
											<div class="row row-sm text-center">
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-secondary" container="body" popoverClass=" popover-primary" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="top" popover-color="primary" popoverTitle="Popover top" type="button">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-secondary" container="body" popoverClass=" popover-secondary" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="bottom" popover-color="secondary" popoverTitle="Popover bottom" type="button">Click me</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/div-->
							</div>
						</div>
						<!-- End Row -->