<!--Page header-->
<div class="page-header">
	<div class="page-leftheader">
		<h4 class="page-title">Admins List</h4>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><span class="breadcrumb-icon">
						Admins</span></a></li>
			<!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
			<li class="breadcrumb-item active" aria-current="page">List</li>
		</ol>
	</div>
</div>
<!--End Page header-->
<!-- row opened -->
<div class="row row-sm">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-header pb-0">
				<!-- <div>
					<a routerLink="/admins/add" routerLinkActive="active" class="btn btn-primary">Add Users</a>

				</div> -->
				<div class="dataTables_length bs-select" id="dtBasicExample_length"><label>Show entries
						<select name="dtBasicExample_length" aria-controls="dtBasicExample"
							class="custom-select custom-select-sm form-control form-control-sm" #adminsdata
							(change)="onSelected(adminsdata.value)">
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
						</select></label>
				</div>

			</div>




			<div class="card-body recordInfo" *ngIf="adminsLists?.length==0">
				No Record Found
			</div>
			<div class="card-body" *ngIf="adminsLists?.length > 0">
				<div class="table-responsive">
					<table class="table text-md-nowrap table-striped" id="myTable1">
						<thead>
							<tr>
								<th class="wd-15p border-bottom-0">First name</th>
								<th class="wd-15p border-bottom-0">Last name</th>
								<th class="wd-20p border-bottom-0">Email address</th>
								<th class="wd-20p border-bottom-0">User Type</th>
								<th class="wd-90p border-bottom-0 action">Action</th>
							</tr>
						</thead>

						<tbody>
							<tr *ngFor="let table of adminsLists|paginate
							: {
								itemsPerPage: tableSize,
								currentPage: page,
								totalItems: count
							  };">
								<td>{{table.firstName | titlecase }}</td>
								<td>{{table.lastName | titlecase}}</td>
								<td>{{table.email}}</td>
								<td>{{table.role}}</td>

								<td><a title="edit" class="edit" (click)="editAdmin(table._id,table.role)"><i
											class="fe fe-edit">
										</i>
									</a>
									<a title="remove" (click)="deleteAdmin(table._id)"><i class="fe fe-trash">
										</i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<pagination-controls *ngIf="count>5" previousLabel="Prev" nextLabel="Next"
					(pageChange)="adminData($event,1)" class="page-link">
				</pagination-controls>

				

			</div>
		</div>
	</div>