.edit{
    color: white;
    border: 2px;
    cursor: pointer;
}
.delete{
    color: white;
    border: 2px;
    cursor: pointer;
}


.recordInfo{
    color: red;
    display: flex;justify-content: center;

}
a.edit {
    margin-right: 10px;
}
.card-header.pb-0 {
    display: flex;
    justify-content: space-between;
}
 

::ng-deep .ngx-pagination .current {
    background: #0f034e!important;
} 

.form-control-sm{
    -webkit-appearance: auto!important;
    appearance: auto!important;
    padding: 5px;
}  
/* 

 */