
						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">FAQS</h4>
							</div>
							<div class="page-rightheader ms-auto d-lg-flex d-none">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Home</span></a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
									<li class="breadcrumb-item active" aria-current="page">FAQS</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->

						<div class="row ">
							<div class="col-md-12">
								<div class="card p-5">
									<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
										<ngb-panel >
											<ng-template ngbPanelTitle>
												How To Insert All The Plugins?
												<span class="float-end"><i class="fe fe-chevron-right"></i></span>
											</ng-template>
											<ng-template ngbPanelContent>
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											</ng-template>
										</ngb-panel>
										<ngb-panel cardClass="mt-2">
											<ng-template ngbPanelTitle >
												How Can I contact?
														<span class="float-end"><i class="fe fe-chevron-right"></i></span>
											</ng-template>
											<ng-template ngbPanelContent>
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											</ng-template>
										</ngb-panel>
										<ngb-panel cardClass="mt-2">
											<ng-template ngbPanelTitle >
												Can I use this Plugins in Another Template?
												<span class="float-end"><i class="fe fe-chevron-right"></i></span>
											</ng-template>
											<ng-template ngbPanelContent>
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											</ng-template>
										</ngb-panel>
										<ngb-panel cardClass="mt-2">
											<ng-template ngbPanelTitle >
												It is Easy to Customizable?
												<span class="float-end"><i class="fe fe-chevron-right"></i></span>
											</ng-template>
											<ng-template ngbPanelContent>
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											</ng-template>
										</ngb-panel>
										<ngb-panel cardClass="mt-2">
											<ng-template ngbPanelTitle >
												How can I download This template?
														<span class="float-end"><i class="fe fe-chevron-right"></i></span>
											</ng-template>
											<ng-template ngbPanelContent>
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											</ng-template>
										</ngb-panel>
										
										<ngb-panel cardClass="mt-2">
											<ng-template ngbPanelTitle >
												How Can I Add another page in Template?
												<span class="float-end"><i class="fe fe-chevron-right"></i></span>
											</ng-template>
											<ng-template ngbPanelContent>
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											</ng-template>
										</ngb-panel>
										
									</ngb-accordion>
								</div>
								<div class="card mb-lg-0">
									<div class="card-header">
										<h3 class="card-title">Ask Question</h3>
									</div>
									<div class="card-body">
										<h5>If Your Query Not Clarifified Post Your Question, My Customer Support will help You</h5>
										<div class="pt-4">
											<div class="mb-3">
												<input type="text" class="form-control" id="name1" placeholder="Your Name">
											</div>
											<div class="mb-3">
												<input type="email" class="form-control" id="email" placeholder="Email Address">
											</div>
											<div class="mb-3">
												<textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Post Your Quesry"></textarea>
											</div>
											<a href="javascript:void(0)" class="btn btn-primary">Send Question</a>
										</div>
									</div>
								</div>
							</div>
						</div>
