<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">CRUD</h4>
  </div>
  <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Home</span></a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Firebase</a></li>
      <li class="breadcrumb-item active" aria-current="page"> CRUD</li>
    </ol>
  </div>
</div>
<!--End Page header-->

<div class="card">
  <div class="card-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/firebase/crud/register-member" routerLinkActive="active">
                <i class="fa fa-plus"></i>Add Member
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/firebase/crud/view-member" routerLinkActive="active">
                <i class="fa fa-list-ul"></i>Members List
              </a>
            </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="card-body">
    <section>
      <div class="mx-auto col-11 px-4">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>