
						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">Themify Icons</h4>
							</div>
							<div class="page-rightheader ms-auto d-lg-flex d-none">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Home</span></a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">Icons</a></li>
									<li class="breadcrumb-item active" aria-current="page">Themify Icons</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->

						<!-- Row-->
						<div class="row ">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Themify Icons</h3>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-lg-12 col-sm-12 mb-4">
												<p class="mb-2">Simply beautiful open source icons. For more info <a href="https://themify.me/themify-icons" target="_blank">click here</a>.</p>
												<p><code>&lt;i class="ti-ICON_NAME"&gt;&lt;/i&gt;</code></p>
											</div>
											<div class="col-sm-12 col-lg-12">
												<div class="icons-list-wrap">
													<ul class="icons-list">
														<li class="icons-list-item"><i class="ti-arrow-up" container="body" ngbTooltip="ti-arrow-up"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-right" container="body" ngbTooltip="ti-arrow-right"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-left" container="body" ngbTooltip="ti-arrow-left"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-down" container="body" ngbTooltip="ti-arrow-down"></i></li>
														<li class="icons-list-item"><i class="ti-arrows-vertical" container="body" ngbTooltip="ti-arrows-vertical"></i></li>
														<li class="icons-list-item"><i class="ti-arrows-horizontal" container="body" ngbTooltip="ti-arrows-horizontal"></i></li>
														<li class="icons-list-item"><i class="ti-angle-up" container="body" ngbTooltip="ti-angle-up"></i></li>
														<li class="icons-list-item"><i class="ti-angle-right" container="body" ngbTooltip="ti-angle-right"></i></li>
														<li class="icons-list-item"><i class="ti-angle-left" container="body" ngbTooltip="ti-angle-left"></i></li>
														<li class="icons-list-item"><i class="ti-angle-down" container="body" ngbTooltip="ti-angle-down"></i></li>
														<li class="icons-list-item"><i class="ti-angle-double-up" container="body" ngbTooltip="ti-angle-double-up"></i></li>
														<li class="icons-list-item"><i class="ti-angle-double-right" container="body" ngbTooltip="ti-angle-double-right"></i></li>
														<li class="icons-list-item"><i class="ti-angle-double-left" container="body" ngbTooltip="ti-angle-double-left"></i></li>
														<li class="icons-list-item"><i class="ti-angle-double-down" container="body" ngbTooltip="ti-angle-double-down"></i></li>
														<li class="icons-list-item"><i class="ti-move" container="body" ngbTooltip="ti-move"></i></li>
														<li class="icons-list-item"><i class="ti-fullscreen" container="body" ngbTooltip="ti-fullscreen"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-top-right" container="body" ngbTooltip="ti-arrow-top-right"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-top-left" container="body" ngbTooltip="ti-arrow-top-left"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-circle-up" container="body" ngbTooltip="ti-arrow-circle-up"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-circle-right" container="body" ngbTooltip="ti-arrow-circle-right"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-circle-left" container="body" ngbTooltip="ti-arrow-circle-left"></i></li>
														<li class="icons-list-item"><i class="ti-arrow-circle-down" container="body" ngbTooltip="ti-arrow-circle-down"></i></li>
														<li class="icons-list-item"><i class="ti-arrows-corner" container="body" ngbTooltip="ti-arrows-corner"></i></li>
														<li class="icons-list-item"><i class="ti-split-v" container="body" ngbTooltip="ti-split-v"></i></li>
														<li class="icons-list-item"><i class="ti-split-v-alt" container="body" ngbTooltip="ti-split-v-alt"></i></li>
														<li class="icons-list-item"><i class="ti-split-h" container="body" ngbTooltip="ti-split-h"></i></li>
														<li class="icons-list-item"><i class="ti-hand-point-up" container="body" ngbTooltip="ti-hand-point-up"></i></li>
														<li class="icons-list-item"><i class="ti-hand-point-right" container="body" ngbTooltip="ti-hand-point-right"></i></li>
														<li class="icons-list-item"><i class="ti-hand-point-left" container="body" ngbTooltip="ti-hand-point-left"></i></li>
														<li class="icons-list-item"><i class="ti-hand-point-down" container="body" ngbTooltip="ti-hand-point-down"></i></li>
														<li class="icons-list-item"><i class="ti-back-right" container="body" ngbTooltip="ti-back-right"></i></li>
														<li class="icons-list-item"><i class="ti-back-left" container="body" ngbTooltip="ti-back-left"></i></li>
														<li class="icons-list-item"><i class="ti-exchange-vertical" container="body" ngbTooltip="ti-exchange-vertical"></i></li>
														<li class="icons-list-item"><i class="ti-wand" container="body" ngbTooltip="ti-wand"></i></li>
														<li class="icons-list-item"><i class="ti-save" container="body" ngbTooltip="ti-save"></i></li>
														<li class="icons-list-item"><i class="ti-save-alt" container="body" ngbTooltip="ti-save-alt"></i></li>
														<li class="icons-list-item"><i class="ti-direction" container="body" ngbTooltip="ti-direction"></i></li>
														<li class="icons-list-item"><i class="ti-direction-alt" container="body" ngbTooltip="ti-direction-alt"></i></li>
														<li class="icons-list-item"><i class="ti-user" container="body" ngbTooltip="ti-user"></i></li>
														<li class="icons-list-item"><i class="ti-link" container="body" ngbTooltip="ti-link"></i></li>
														<li class="icons-list-item"><i class="ti-unlink" container="body" ngbTooltip="ti-unlink"></i></li>
														<li class="icons-list-item"><i class="ti-trash" container="body" ngbTooltip="ti-trash"></i></li>
														<li class="icons-list-item"><i class="ti-target" container="body" ngbTooltip="ti-target"></i></li>
														<li class="icons-list-item"><i class="ti-tag" container="body" ngbTooltip="ti-tag"></i></li>
														<li class="icons-list-item"><i class="ti-desktop" container="body" ngbTooltip="ti-desktop"></i></li>
														<li class="icons-list-item"><i class="ti-tablet" container="body" ngbTooltip="ti-tablet"></i></li>
														<li class="icons-list-item"><i class="ti-mobile" container="body" ngbTooltip="ti-mobile"></i></li>
														<li class="icons-list-item"><i class="ti-email" container="body" ngbTooltip="ti-email"></i></li>
														<li class="icons-list-item"><i class="ti-star" container="body" ngbTooltip="ti-star"></i></li>
														<li class="icons-list-item"><i class="ti-spray" container="body" ngbTooltip="ti-spray"></i></li>
														<li class="icons-list-item"><i class="ti-signal" container="body" ngbTooltip="ti-signal"></i></li>
														<li class="icons-list-item"><i class="ti-shopping-cart" container="body" ngbTooltip="ti-shopping-cart"></i></li>
														<li class="icons-list-item"><i class="ti-shopping-cart-full" container="body" ngbTooltip="ti-shopping-cart-full"></i></li>
														<li class="icons-list-item"><i class="ti-settings" container="body" ngbTooltip="ti-settings"></i></li>
														<li class="icons-list-item"><i class="ti-search" container="body" ngbTooltip="ti-search"></i></li>
														<li class="icons-list-item"><i class="ti-zoom-in" container="body" ngbTooltip="ti-zoom-in"></i></li>
														<li class="icons-list-item"><i class="ti-zoom-out" container="body" ngbTooltip="ti-zoom-out"></i></li>
														<li class="icons-list-item"><i class="ti-cut" container="body" ngbTooltip="ti-cut"></i></li>
														<li class="icons-list-item"><i class="ti-ruler" container="body" ngbTooltip="ti-ruler"></i></li>
														<li class="icons-list-item"><i class="ti-ruler-alt-2" container="body" ngbTooltip="ti-ruler-alt-2"></i></li>
														<li class="icons-list-item"><i class="ti-ruler-pencil" container="body" ngbTooltip="ti-ruler-pencil"></i></li>
														<li class="icons-list-item"><i class="ti-ruler-alt" container="body" ngbTooltip="ti-ruler-alt"></i></li>
														<li class="icons-list-item"><i class="ti-bookmark" container="body" ngbTooltip="ti-bookmark"></i></li>
														<li class="icons-list-item"><i class="ti-bookmark-alt" container="body" ngbTooltip="ti-bookmark-alt"></i></li>
														<li class="icons-list-item"><i class="ti-reload" container="body" ngbTooltip="ti-reload"></i></li>
														<li class="icons-list-item"><i class="ti-plus" container="body" ngbTooltip="ti-plus"></i></li>
														<li class="icons-list-item"><i class="ti-minus" container="body" ngbTooltip="ti-minus"></i></li>
														<li class="icons-list-item"><i class="ti-close" container="body" ngbTooltip="ti-close"></i></li>
														<li class="icons-list-item"><i class="ti-pin" container="body" ngbTooltip="ti-pin"></i></li>
														<li class="icons-list-item"><i class="ti-pencil" container="body" ngbTooltip="ti-pencil"></i></li>
														<li class="icons-list-item"><i class="ti-pencil-alt" container="body" ngbTooltip="ti-pencil-alt"></i></li>
														<li class="icons-list-item"><i class="ti-paint-roller" container="body" ngbTooltip="ti-paint-roller"></i></li>
														<li class="icons-list-item"><i class="ti-paint-bucket" container="body" ngbTooltip="ti-paint-bucket"></i></li>
														<li class="icons-list-item"><i class="ti-na" container="body" ngbTooltip="ti-na"></i></li>
														<li class="icons-list-item"><i class="ti-medall" container="body" ngbTooltip="ti-medall"></i></li>
														<li class="icons-list-item"><i class="ti-medall-alt" container="body" ngbTooltip="ti-medall-alt"></i></li>
														<li class="icons-list-item"><i class="ti-marker" container="body" ngbTooltip="ti-marker"></i></li>
														<li class="icons-list-item"><i class="ti-marker-alt" container="body" ngbTooltip="ti-marker-alt"></i></li>
														<li class="icons-list-item"><i class="ti-lock" container="body" ngbTooltip="ti-lock"></i></li>
														<li class="icons-list-item"><i class="ti-unlock" container="body" ngbTooltip="ti-unlock"></i></li>
														<li class="icons-list-item"><i class="ti-location-arrow" container="body" ngbTooltip="ti-location-arrow"></i></li>
														<li class="icons-list-item"><i class="ti-layout" container="body" ngbTooltip="ti-layout"></i></li>
														<li class="icons-list-item"><i class="ti-layers" container="body" ngbTooltip="ti-layers"></i></li>
														<li class="icons-list-item"><i class="ti-layers-alt" container="body" ngbTooltip="ti-layers-alt"></i></li>
														<li class="icons-list-item"><i class="ti-key" container="body" ngbTooltip="ti-key"></i></li>
														<li class="icons-list-item"><i class="ti-image" container="body" ngbTooltip="ti-image"></i></li>
														<li class="icons-list-item"><i class="ti-heart" container="body" ngbTooltip="ti-heart"></i></li>
														<li class="icons-list-item"><i class="ti-heart-broken" container="body" ngbTooltip="ti-heart-broken"></i></li>
														<li class="icons-list-item"><i class="ti-hand-stop" container="body" ngbTooltip="ti-hand-stop"></i></li>
														<li class="icons-list-item"><i class="ti-hand-open" container="body" ngbTooltip="ti-hand-open"></i></li>
														<li class="icons-list-item"><i class="ti-hand-drag" container="body" ngbTooltip="ti-hand-drag"></i></li>
														<li class="icons-list-item"><i class="ti-flag" container="body" ngbTooltip="ti-flag"></i></li>
														<li class="icons-list-item"><i class="ti-flag-alt" container="body" ngbTooltip="ti-flag-alt"></i></li>
														<li class="icons-list-item"><i class="ti-flag-alt-2" container="body" ngbTooltip="ti-flag-alt-2"></i></li>
														<li class="icons-list-item"><i class="ti-eye" container="body" ngbTooltip="ti-eye"></i></li>
														<li class="icons-list-item"><i class="ti-import" container="body" ngbTooltip="ti-import"></i></li>
														<li class="icons-list-item"><i class="ti-export" container="body" ngbTooltip="ti-export"></i></li>
														<li class="icons-list-item"><i class="ti-cup" container="body" ngbTooltip="ti-cup"></i></li>
														<li class="icons-list-item"><i class="ti-crown" container="body" ngbTooltip="ti-crown"></i></li>
														<li class="icons-list-item"><i class="ti-comments" container="body" ngbTooltip="ti-comments"></i></li>
														<li class="icons-list-item"><i class="ti-comment" container="body" ngbTooltip="ti-comment"></i></li>
														<li class="icons-list-item"><i class="ti-comment-alt" container="body" ngbTooltip="ti-comment-alt"></i></li>
														<li class="icons-list-item"><i class="ti-thought" container="body" ngbTooltip="ti-thought"></i></li>
														<li class="icons-list-item"><i class="ti-clip" container="body" ngbTooltip="ti-clip"></i></li>
														<li class="icons-list-item"><i class="ti-check" container="body" ngbTooltip="ti-check"></i></li>
														<li class="icons-list-item"><i class="ti-check-box" container="body" ngbTooltip="ti-check-box"></i></li>
														<li class="icons-list-item"><i class="ti-camera" container="body" ngbTooltip="ti-camera"></i></li>
														<li class="icons-list-item"><i class="ti-announcement" container="body" ngbTooltip="ti-announcement"></i></li>
														<li class="icons-list-item"><i class="ti-brush" container="body" ngbTooltip="ti-brush"></i></li>
														<li class="icons-list-item"><i class="ti-brush-alt" container="body" ngbTooltip="ti-brush-alt"></i></li>
														<li class="icons-list-item"><i class="ti-palette" container="body" ngbTooltip="ti-palette"></i></li>
														<li class="icons-list-item"><i class="ti-briefcase" container="body" ngbTooltip="ti-briefcase"></i></li>
														<li class="icons-list-item"><i class="ti-bolt" container="body" ngbTooltip="ti-bolt"></i></li>
														<li class="icons-list-item"><i class="ti-bolt-alt" container="body" ngbTooltip="ti-bolt-alt"></i></li>
														<li class="icons-list-item"><i class="ti-blackboard" container="body" ngbTooltip="ti-blackboard"></i></li>
														<li class="icons-list-item"><i class="ti-bag" container="body" ngbTooltip="ti-bag"></i></li>
														<li class="icons-list-item"><i class="ti-world" container="body" ngbTooltip="ti-world"></i></li>
														<li class="icons-list-item"><i class="ti-wheelchair" container="body" ngbTooltip="ti-wheelchair"></i></li>
														<li class="icons-list-item"><i class="ti-car" container="body" ngbTooltip="ti-car"></i></li>
														<li class="icons-list-item"><i class="ti-truck" container="body" ngbTooltip="ti-truck"></i></li>
														<li class="icons-list-item"><i class="ti-timer" container="body" ngbTooltip="ti-timer"></i></li>
														<li class="icons-list-item"><i class="ti-ticket" container="body" ngbTooltip="ti-ticket"></i></li>
														<li class="icons-list-item"><i class="ti-thumb-up" container="body" ngbTooltip="ti-thumb-up"></i></li>
														<li class="icons-list-item"><i class="ti-thumb-down" container="body" ngbTooltip="ti-thumb-down"></i></li>
														<li class="icons-list-item"><i class="ti-stats-up" container="body" ngbTooltip="ti-stats-up"></i></li>
														<li class="icons-list-item"><i class="ti-stats-down" container="body" ngbTooltip="ti-stats-down"></i></li>
														<li class="icons-list-item"><i class="ti-shine" container="body" ngbTooltip="ti-shine"></i></li>
														<li class="icons-list-item"><i class="ti-shift-right" container="body" ngbTooltip="ti-shift-right"></i></li>
														<li class="icons-list-item"><i class="ti-shift-left" container="body" ngbTooltip="ti-shift-left"></i></li>
														<li class="icons-list-item"><i class="ti-shift-right-alt" container="body" ngbTooltip="ti-shift-right-alt"></i></li>
														<li class="icons-list-item"><i class="ti-shift-left-alt" container="body" ngbTooltip="ti-shift-left-alt"></i></li>
														<li class="icons-list-item"><i class="ti-shield" container="body" ngbTooltip="ti-shield"></i></li>
														<li class="icons-list-item"><i class="ti-notepad" container="body" ngbTooltip="ti-notepad"></i></li>
														<li class="icons-list-item"><i class="ti-server" container="body" ngbTooltip="ti-server"></i></li>
														<li class="icons-list-item"><i class="ti-pulse" container="body" ngbTooltip="ti-pulse"></i></li>
														<li class="icons-list-item"><i class="ti-printer" container="body" ngbTooltip="ti-printer"></i></li>
														<li class="icons-list-item"><i class="ti-power-off" container="body" ngbTooltip="ti-power-off"></i></li>
														<li class="icons-list-item"><i class="ti-plug" container="body" ngbTooltip="ti-plug"></i></li>
														<li class="icons-list-item"><i class="ti-pie-chart" container="body" ngbTooltip="ti-pie-chart"></i></li>
														<li class="icons-list-item"><i class="ti-panel" container="body" ngbTooltip="ti-panel"></i></li>
														<li class="icons-list-item"><i class="ti-package" container="body" ngbTooltip="ti-package"></i></li>
														<li class="icons-list-item"><i class="ti-music" container="body" ngbTooltip="ti-music"></i></li>
														<li class="icons-list-item"><i class="ti-music-alt" container="body" ngbTooltip="ti-music-alt"></i></li>
														<li class="icons-list-item"><i class="ti-mouse" container="body" ngbTooltip="ti-mouse"></i></li>
														<li class="icons-list-item"><i class="ti-mouse-alt" container="body" ngbTooltip="ti-mouse-alt"></i></li>
														<li class="icons-list-item"><i class="ti-money" container="body" ngbTooltip="ti-money"></i></li>
														<li class="icons-list-item"><i class="ti-microphone" container="body" ngbTooltip="ti-microphone"></i></li>
														<li class="icons-list-item"><i class="ti-menu" container="body" ngbTooltip="ti-menu"></i></li>
														<li class="icons-list-item"><i class="ti-menu-alt" container="body" ngbTooltip="ti-menu-alt"></i></li>
														<li class="icons-list-item"><i class="ti-map" container="body" ngbTooltip="ti-map"></i></li>
														<li class="icons-list-item"><i class="ti-map-alt" container="body" ngbTooltip="ti-map-alt"></i></li>
														<li class="icons-list-item"><i class="ti-location-pin" container="body" ngbTooltip="ti-location-pin"></i></li>
														<li class="icons-list-item"><i class="ti-light-bulb" container="body" ngbTooltip="ti-light-bulb"></i></li>
														<li class="icons-list-item"><i class="ti-info" container="body" ngbTooltip="ti-info"></i></li>
														<li class="icons-list-item"><i class="ti-infinite" container="body" ngbTooltip="ti-infinite"></i></li>
														<li class="icons-list-item"><i class="ti-id-badge" container="body" ngbTooltip="ti-id-badge"></i></li>
														<li class="icons-list-item"><i class="ti-hummer" container="body" ngbTooltip="ti-hummer"></i></li>
														<li class="icons-list-item"><i class="ti-home" container="body" ngbTooltip="ti-home"></i></li>
														<li class="icons-list-item"><i class="ti-help" container="body" ngbTooltip="ti-help"></i></li>
														<li class="icons-list-item"><i class="ti-headphone" container="body" ngbTooltip="ti-headphone"></i></li>
														<li class="icons-list-item"><i class="ti-harddrives" container="body" ngbTooltip="ti-harddrives"></i></li>
														<li class="icons-list-item"><i class="ti-harddrive" container="body" ngbTooltip="ti-harddrive"></i></li>
														<li class="icons-list-item"><i class="ti-gift" container="body" ngbTooltip="ti-gift"></i></li>
														<li class="icons-list-item"><i class="ti-game" container="body" ngbTooltip="ti-game"></i></li>
														<li class="icons-list-item"><i class="ti-filter" container="body" ngbTooltip="ti-filter"></i></li>
														<li class="icons-list-item"><i class="ti-files" container="body" ngbTooltip="ti-files"></i></li>
														<li class="icons-list-item"><i class="ti-file" container="body" ngbTooltip="ti-file"></i></li>
														<li class="icons-list-item"><i class="ti-zip" container="body" ngbTooltip="ti-zip"></i></li>
														<li class="icons-list-item"><i class="ti-folder" container="body" ngbTooltip="ti-folder"></i></li>
														<li class="icons-list-item"><i class="ti-envelope" container="body" ngbTooltip="ti-envelope"></i></li>
														<li class="icons-list-item"><i class="ti-dashboard" container="body" ngbTooltip="ti-dashboard"></i></li>
														<li class="icons-list-item"><i class="ti-cloud" container="body" ngbTooltip="ti-cloud"></i></li>
														<li class="icons-list-item"><i class="ti-cloud-up" container="body" ngbTooltip="ti-cloud-up"></i></li>
														<li class="icons-list-item"><i class="ti-cloud-down" container="body" ngbTooltip="ti-cloud-down"></i></li>
														<li class="icons-list-item"><i class="ti-clipboard" container="body" ngbTooltip="ti-clipboard"></i></li>
														<li class="icons-list-item"><i class="ti-calendar" container="body" ngbTooltip="ti-calendar"></i></li>
														<li class="icons-list-item"><i class="ti-book" container="body" ngbTooltip="ti-book"></i></li>
														<li class="icons-list-item"><i class="ti-bell" container="body" ngbTooltip="ti-bell"></i></li>
														<li class="icons-list-item"><i class="ti-basketball" container="body" ngbTooltip="ti-basketball"></i></li>
														<li class="icons-list-item"><i class="ti-bar-chart" container="body" ngbTooltip="ti-bar-chart"></i></li>
														<li class="icons-list-item"><i class="ti-bar-chart-alt" container="body" ngbTooltip="ti-bar-chart-alt"></i></li>
														<li class="icons-list-item"><i class="ti-archive" container="body" ngbTooltip="ti-archive"></i></li>
														<li class="icons-list-item"><i class="ti-anchor" container="body" ngbTooltip="ti-anchor"></i></li>
														<li class="icons-list-item"><i class="ti-alert" container="body" ngbTooltip="ti-alert"></i></li>
														<li class="icons-list-item"><i class="ti-alarm-clock" container="body" ngbTooltip="ti-alarm-clock"></i></li>
														<li class="icons-list-item"><i class="ti-agenda" container="body" ngbTooltip="ti-agenda"></i></li>
														<li class="icons-list-item"><i class="ti-write" container="body" ngbTooltip="ti-write"></i></li>
														<li class="icons-list-item"><i class="ti-wallet" container="body" ngbTooltip="ti-wallet"></i></li>
														<li class="icons-list-item"><i class="ti-video-clapper" container="body" ngbTooltip="ti-video-clapper"></i></li>
														<li class="icons-list-item"><i class="ti-video-camera" container="body" ngbTooltip="ti-video-camera"></i></li>
														<li class="icons-list-item"><i class="ti-vector" container="body" ngbTooltip="ti-vector"></i></li>
														<li class="icons-list-item"><i class="ti-support" container="body" ngbTooltip="ti-support"></i></li>
														<li class="icons-list-item"><i class="ti-stamp" container="body" ngbTooltip="ti-stamp"></i></li>
														<li class="icons-list-item"><i class="ti-slice" container="body" ngbTooltip="ti-slice"></i></li>
														<li class="icons-list-item"><i class="ti-shortcode" container="body" ngbTooltip="ti-shortcode"></i></li>
														<li class="icons-list-item"><i class="ti-receipt" container="body" ngbTooltip="ti-receipt"></i></li>
														<li class="icons-list-item"><i class="ti-pin2" container="body" ngbTooltip="ti-pin2"></i></li>
														<li class="icons-list-item"><i class="ti-pin-alt" container="body" ngbTooltip="ti-pin-alt"></i></li>
														<li class="icons-list-item"><i class="ti-pencil-alt2" container="body" ngbTooltip="ti-pencil-alt2"></i></li>
														<li class="icons-list-item"><i class="ti-eraser" container="body" ngbTooltip="ti-eraser"></i></li>
														<li class="icons-list-item"><i class="ti-more" container="body" ngbTooltip="ti-more"></i></li>
														<li class="icons-list-item"><i class="ti-more-alt" container="body" ngbTooltip="ti-more-alt"></i></li>
														<li class="icons-list-item"><i class="ti-microphone-alt" container="body" ngbTooltip="ti-microphone-alt"></i></li>
														<li class="icons-list-item"><i class="ti-magnet" container="body" ngbTooltip="ti-magnet"></i></li>
														<li class="icons-list-item"><i class="ti-line-double" container="body" ngbTooltip="ti-line-double"></i></li>
														<li class="icons-list-item"><i class="ti-line-dotted" container="body" ngbTooltip="ti-line-dotted"></i></li>
														<li class="icons-list-item"><i class="ti-line-dashed" container="body" ngbTooltip="ti-line-dashed"></i></li>
														<li class="icons-list-item"><i class="ti-ink-pen" container="body" ngbTooltip="ti-ink-pen"></i></li>
														<li class="icons-list-item"><i class="ti-info-alt" container="body" ngbTooltip="ti-info-alt"></i></li>
														<li class="icons-list-item"><i class="ti-help-alt" container="body" ngbTooltip="ti-help-alt"></i></li>
														<li class="icons-list-item"><i class="ti-headphone-alt" container="body" ngbTooltip="ti-headphone-alt"></i></li>
														<li class="icons-list-item"><i class="ti-gallery" container="body" ngbTooltip="ti-gallery"></i></li>
														<li class="icons-list-item"><i class="ti-face-smile" container="body" ngbTooltip="ti-face-smile"></i></li>
														<li class="icons-list-item"><i class="ti-face-sad" container="body" ngbTooltip="ti-face-sad"></i></li>
														<li class="icons-list-item"><i class="ti-credit-card" container="body" ngbTooltip="ti-credit-card"></i></li>
														<li class="icons-list-item"><i class="ti-comments-smiley" container="body" ngbTooltip="ti-comments-smiley"></i></li>
														<li class="icons-list-item"><i class="ti-time" container="body" ngbTooltip="ti-time"></i></li>
														<li class="icons-list-item"><i class="ti-share" container="body" ngbTooltip="ti-share"></i></li>
														<li class="icons-list-item"><i class="ti-share-alt" container="body" ngbTooltip="ti-share-alt"></i></li>
														<li class="icons-list-item"><i class="ti-rocket" container="body" ngbTooltip="ti-rocket"></i></li>
														<li class="icons-list-item"><i class="ti-new-window" container="body" ngbTooltip="ti-new-window"></i></li>
														<li class="icons-list-item"><i class="ti-rss" container="body" ngbTooltip="ti-rss"></i></li>
														<li class="icons-list-item"><i class="ti-rss-alt" container="body" ngbTooltip="ti-rss-alt"></i></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Row-->
