.dropdown-toggle::after{
    display: none ;
}

.app-header .header-brand{
    display:  initial ;
}
.centerlogo-horizontal .app-header .header-brand{
    display:  none !important ;
}

.animated{
    animation-name:fadeInUp;
    margin-top: 60px;
}

@media (max-width: 767.98px) and (min-width: 576px){
    .header .form-inline .btn {
        position: absolute !important;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,10%,0) !important;
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}


::ng-deep{
    .search-show::before{
        display: none;
    }
    
    @media only screen and (max-width: 991px){
        body.active .header.top-header{
            left: 240px !important;
            transition: all 0.25s ease-in-out;
        }
    }
    .header.top-header{
        transition: all 0.25s ease-in-out;
    }
}


@media (min-width: 768px){
.app-header {
    padding-right: 0px !important;
}
}