<!--Page header-->
<div class="page-header">
	<div class="page-leftheader">
		<h4 class="page-title">Drivers List</h4>
	</div>

</div>
<!--End Page header-->
<!-- row opened -->
<div class="row row-sm">
	<div class="col-xl-12">
		<div class="card" >
			<div class="card-header pb-0">
			
            <div>
                <a routerLink="/company/add" routerLinkActive="active" class="btn btn-primary">Add Company</a>
                
            </div>
			<div class="dataTables_length bs-select" id="dtBasicExample_length"><label>Show entries 
				<select name="dtBasicExample_length" aria-controls="dtBasicExample" class="custom-select custom-select-sm form-control form-control-sm driverlist" #driverdata (change)="onSelected(driverdata.value)">
					<option value="5">5</option>	
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
				</select></label>
			</div>

			</div>


			<div class="card-body recordInfo" *ngIf="driversLists?.length==0">
				No Record Found

			</div>
			<div class="card-body" *ngIf="driversLists?.length > 0" >
				<div class="table-responsive">
					<table class="table text-md-nowrap" id="myTable1">
						<thead>
							<tr>
								<th class="wd-15p border-bottom-0">First name</th>
								<th class="wd-15p border-bottom-0">Last name</th>
								<th class="wd-20p border-bottom-0">Email address</th>
                                <th class="wd-90p border-bottom-0 action" >Action</th>									
							</tr>
						</thead>
						<tbody>
			
	
							  <tr *ngFor="let table of driversLists|paginate
							: {
								itemsPerPage: tableSize,
								currentPage: page,
								totalItems: count
							  };">
								<td>{{table.firstName | titlecase}}</td>
								<td>{{table.lastName | titlecase}}</td>
								<td>{{table.email}}</td>
								<td><a title ="edit" class="edit" (click)="editDriver(table._id)" ><i class="fe fe-edit">
									</i>
								</a>
                                <a title="remove" class="delete" (click)="deleteDriver(table._id)"><i class="fe fe-trash">
									</i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			
				<pagination-controls
				*ngIf="count>5"
				class="planes-pagination"
				previousLabel="Prev"
				nextLabel="Next"
				(pageChange)=" driversData($event,1)"
			
    			>
    			</pagination-controls>



			</div>
		</div>
	</div>
	

	