<div class="page-style1 light-mode default-sidebar error-page registerForm">
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-md-7 col-lg-5">
                                <form [formGroup]="registerForm" (ngSubmit)="register()">
                                    <div class="card card-group mb-0">
                                        <div class="card p-4">
                                            <div class="card-body">
                                                <div class="text-center title-style mb-6">
                                                    <h1 class="mb-2">Register</h1>
                                                    <hr>
                                                    <p class="text-muted">Create New Account</p>
                                                </div>

                                                <div class="input-group mb-4">
                                                    <span class="input-group-addon"><svg class="svg-icon"
                                                            xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0V0z" fill="none" />
                                                            <path d="M12 16c-2.69 0-5.77 1.28-6 2h12c-.2-.71-3.3-2-6-2z"
                                                                opacity=".3" />
                                                            <circle cx="12" cy="8" opacity=".3" r="2" />
                                                            <path
                                                                d="M12 14c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm-6 4c.22-.72 3.31-2 6-2 2.7 0 5.8 1.29 6 2H6zm6-6c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z" />
                                                        </svg></span>
                                                    <input type="text" name="firstName" class="form-control"
                                                        autocomplete="off" placeholder="Enter First Name" required
                                                        [ngClass]="{
                                                            'is-invalid': registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched) 
                                                          }" formControlName="firstName">
                                                </div>

                                                <div *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)"  >
                                                    <div *ngIf="registerForm.controls['firstName'].errors.required" class="text-danger">
                                                    Enter FirstName
                                                  </div>
                                                </div>
                                                

                                                <div class="input-group mb-4">
                                                    <span class="input-group-addon"><svg class="svg-icon"
                                                            xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0V0z" fill="none" />
                                                            <path d="M12 16c-2.69 0-5.77 1.28-6 2h12c-.2-.71-3.3-2-6-2z"
                                                                opacity=".3" />
                                                            <circle cx="12" cy="8" opacity=".3" r="2" />
                                                            <path
                                                                d="M12 14c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm-6 4c.22-.72 3.31-2 6-2 2.7 0 5.8 1.29 6 2H6zm6-6c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z" />
                                                        </svg></span>
                                                    <input type="text" name="lastName" class="form-control"
                                                        autocomplete="off" placeholder="Enter Last Name" required
                                                        [ngClass]="{
                                                            'is-invalid': registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched) 
                                                          }" formControlName="lastName">
                                                </div>

                                              
                                                <div *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)">
                                                    <div *ngIf="registerForm.controls['lastName'].errors.required" class="text-danger">
                                                    Enter LastName
                                                  </div>
                                                </div>
                                                

                                                <div class="input-group mb-4">
                                                    <span class="input-group-addon"><svg class="svg-icon"
                                                            xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0V0z" fill="none" />
                                                            <path d="M20 8l-8 5-8-5v10h16zm0-2H4l8 4.99z"
                                                                opacity=".3" />
                                                            <path
                                                                d="M4 20h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2zM20 6l-8 4.99L4 6h16zM4 8l8 5 8-5v10H4V8z" />
                                                        </svg></span>
                                                    <input type="email" name="email" class="form-control"
                                                        autocomplete="off" placeholder="Enter Email" required [ngClass]="{
                                                            'is-invalid': registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched) 
                                                          }" formControlName="email">
                                                </div>

                                                <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)  "  >
                                                    
                                                  <div *ngIf="registerForm.controls['email'].errors?.email" class="text-danger">
                                                    Email address is invalid
                                                  </div>

                                                  <div *ngIf="registerForm.controls['email'].errors.required" class="text-danger">
                                                    Email address is required
                                                  </div>
                                                </div>
                                                <div class="input-group mb-4">
                                                    <span class="input-group-addon"><svg class="svg-icon"
                                                            xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <g fill="none">
                                                                <path d="M0 0h24v24H0V0z" />
                                                                <path d="M0 0h24v24H0V0z" opacity=".87" />
                                                            </g>
                                                            <path
                                                                d="M6 20h12V10H6v10zm6-7c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z"
                                                                opacity=".3" />
                                                            <path
                                                                d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z" />
                                                        </svg></span>
                                                    <input type="password" name="password" class="form-control"
                                                        autocomplete="off" placeholder="Enter Password" required
                                                        [ngClass]="{
                                                            'is-invalid': registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched) 
                                                          }" formControlName="password">
                                                </div>
                                                <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                                                    <div *ngIf="registerForm.controls['password'].errors.required" class="text-danger">
                                                        Password is required
                                                  </div>
                                                  <div *ngIf="registerForm.controls['password'].errors.minlength" class="text-danger">
                                                    Password must be at least 3 characters
                                              </div>
                                                </div>
                                                <div class="input-group mb-4">
                                                    <span class="input-group-addon"><svg class="svg-icon"
                                                            xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <g fill="none">
                                                                <path d="M0 0h24v24H0V0z" />
                                                                <path d="M0 0h24v24H0V0z" opacity=".87" />
                                                            </g>
                                                            <path
                                                                d="M6 20h12V10H6v10zm6-7c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z"
                                                                opacity=".3" />
                                                            <path
                                                                d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z" />
                                                        </svg></span>
                                                    <input type="password" name="cPassword" class="form-control"
                                                        autocomplete="off" formControlName="cPassword"
                                                        placeholder="Enter Confirm Password" required [ngClass]="{
                                                                'is-invalid': registerForm.controls['cPassword'].invalid  && (registerForm.controls['cPassword'].dirty || registerForm.controls['cPassword'].touched) 
                                                              }">
                                                </div>
                                                <div *ngIf="registerForm.controls['cPassword'].errors && registerForm.controls['cPassword'].errors.mustMatch"  >
                                                    <div *ngIf="registerForm.controls['cPassword'].errors && registerForm.controls['cPassword'].errors.mustMatch" class="text-danger">
                                                        Passwords must match. 
                                                  </div>
                                                </div>
                                                <div *ngIf="registerForm.controls['cPassword'].invalid && (registerForm.controls['cPassword'].dirty || registerForm.controls['cPassword'].touched)"  >
                                                    <div *ngIf="registerForm.controls['cPassword'].errors.required" class="text-danger">
                                                      Confirm Password is required
                                                  </div>
                                                </div> 
                                                <div class="mb-3">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            formControlName="agree" name="agree" />
                                                        <span class="custom-control-label">Agree the <a
                                                                (click)="open(content)" class="btn-link">Terms and
                                                                policy</a></span>
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <p *ngIf="errorMessage.length > 0" class="text-danger">
                                                        {{errorMessage}}</p>

                                                    <p *ngIf="error.message.length > 0" class="text-danger">
                                                        {{error.message}} </p>

                                                    <p *ngIf="message.length > 0" class="text-info">
                                                        {{message}} </p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button type="submit" [disabled]="
                                                        registerForm.invalid || !registerForm.controls['agree'].value"
                                                            class="btn  btn-lg btn-primary btn-block px-4 btn-submit d-flex">
                                                            <div class="arrow bounce"><i class="fe fe-arrow-right "></i></div> Create a new
                                                            account</button>
                                                    </div>
                                                </div>
                                                <!-- <hr class="divider my-6"> -->
                                                <!-- <div class="btn-list d-sm-flex">
                                                    <a href="https://www.google.com/gmail/"
                                                        class="btn btn-google btn-block">Google</a>
                                                    <a href="https://twitter.com/"
                                                        class="btn btn-twitter d-block d-sm-inline">Twitter</a>
                                                    <a href="https://www.facebook.com/"
                                                        class="btn btn-facebook d-block d-sm-inline">Facebook</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center pt-4">
                                        <div class="font-weight-normal fs-16 whiteText">You Already have an account <a
                                                class="btn-link font-weight-normal" routerLink="/">Login Here</a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header card-header bg-light">
        <h4 class="modal-title card-title" id="modal-basic-title">
            Terms And Conditions
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body card-body termsCondition">

        <div class="row">
            <div class="col-md-12">

                <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                    and I will give you a complete account of the system, and expound the actual teachings of the great
                    explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids
                    pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure
                    rationally encounter consequences</p>

            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div> -->
</ng-template>