.tabs-pills ul li .active {
    background: #4454c3;
    color: #fff !important;
    border-radius: 0.25rem 0.25rem 0 0;
}
.tabs-pills ul li a {
    padding: 10px 20px 11px 20px;
    display: block;
}