
						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">Typicons Icons</h4>
							</div>
							<div class="page-rightheader ms-auto d-lg-flex d-none">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Home</span></a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">Icons</a></li>
									<li class="breadcrumb-item active" aria-current="page">Typicons Icons</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->

						<!-- Row-->
						<div class="row ">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Typicons icons</h3>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-lg-12 col-sm-12 mb-4">
												<p class="mb-2">Simply beautiful open source icons. For more info <a href="https://iconify.design/icon-sets/typcn/" target="_blank">click here</a>.</p>
												<p><code>&lt;i class="typcn typcn-ICON_NAME"&gt;&lt;/i&gt;</code></p>
											</div>
											<div class="col-sm-12 col-lg-12">
												<div class="icons-list-wrap">
													<ul class="icons-list">
														<li class="icons-list-item"><i class="typcn typcn-chart-pie-outline" container="body" ngbTooltip="typcn typcn-chart-pie-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-chart-pie" container="body" ngbTooltip="typcn typcn-chart-pie"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-chevron-left-outline" container="body" ngbTooltip="typcn typcn-chevron-left-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-chevron-left" container="body" ngbTooltip="typcn typcn-chevron-left"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-chevron-right-outline" container="body" ngbTooltip="typcn typcn-chevron-right-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-chevron-right" container="body" ngbTooltip="typcn typcn-chevron-right"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-clipboard" container="body" ngbTooltip="typcn typcn-clipboard"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-cloud-storage" container="body" ngbTooltip="typcn typcn-cloud-storage"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-cloud-storage-outline" container="body" ngbTooltip="typcn typcn-cloud-storage-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-code-outline" container="body" ngbTooltip="typcn typcn-code-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-code" container="body" ngbTooltip="typcn typcn-code"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-coffee" container="body" ngbTooltip="typcn typcn-coffee"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-cog-outline" container="body" ngbTooltip="typcn typcn-cog-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-cog" container="body" ngbTooltip="typcn typcn-cog"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-compass" container="body" ngbTooltip="typcn typcn-compass"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-contacts" container="body" ngbTooltip="typcn typcn-contacts"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-credit-card" container="body" ngbTooltip="typcn typcn-credit-card"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-css3" container="body" ngbTooltip="typcn typcn-css3"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-database" container="body" ngbTooltip="typcn typcn-database"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-delete-outline" container="body" ngbTooltip="typcn typcn-delete-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-delete" container="body" ngbTooltip="typcn typcn-delete"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-device-desktop" container="body" ngbTooltip="typcn typcn-device-desktop"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-device-laptop" container="body" ngbTooltip="typcn typcn-device-laptop"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-device-phone" container="body" ngbTooltip="typcn typcn-device-phone"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-device-tablet" container="body" ngbTooltip="typcn typcn-device-tablet"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-directions" container="body" ngbTooltip="typcn typcn-directions"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-divide-outline" container="body" ngbTooltip="typcn typcn-divide-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-divide" container="body" ngbTooltip="typcn typcn-divide"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-document-add" container="body" ngbTooltip="typcn typcn-document-add"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-document-delete" container="body" ngbTooltip="typcn typcn-document-delete"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-document-text" container="body" ngbTooltip="typcn typcn-document-text"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-document" container="body" ngbTooltip="typcn typcn-document"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-download-outline" container="body" ngbTooltip="typcn typcn-download-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-download" container="body" ngbTooltip="typcn typcn-download"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-dropbox" container="body" ngbTooltip="typcn typcn-dropbox"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-edit" container="body" ngbTooltip="typcn typcn-edit"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-eject-outline" container="body" ngbTooltip="typcn typcn-eject-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-eject" container="body" ngbTooltip="typcn typcn-eject"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-equals-outline" container="body" ngbTooltip="typcn typcn-equals-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-equals" container="body" ngbTooltip="typcn typcn-equals"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-export-outline" container="body" ngbTooltip="typcn typcn-export-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-export" container="body" ngbTooltip="typcn typcn-export"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-eye-outline" container="body" ngbTooltip="typcn typcn-eye-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-eye" container="body" ngbTooltip="typcn typcn-eye"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-feather" container="body" ngbTooltip="typcn typcn-feather"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-film" container="body" ngbTooltip="typcn typcn-film"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-filter" container="body" ngbTooltip="typcn typcn-filter"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-flag-outline" container="body" ngbTooltip="typcn typcn-flag-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-flag" container="body" ngbTooltip="typcn typcn-flag"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-flash-outline" container="body" ngbTooltip="typcn typcn-flash-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-flash" container="body" ngbTooltip="typcn typcn-flash"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-flow-children" container="body" ngbTooltip="typcn typcn-flow-children"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-flow-merge" container="body" ngbTooltip="typcn typcn-flow-merge"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-flow-parallel" container="body" ngbTooltip="typcn typcn-flow-parallel"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-flow-switch" container="body" ngbTooltip="typcn typcn-flow-switch"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-folder-add" container="body" ngbTooltip="typcn typcn-folder-add"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-folder-delete" container="body" ngbTooltip="typcn typcn-folder-delete"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-folder-open" container="body" ngbTooltip="typcn typcn-folder-open"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-folder" container="body" ngbTooltip="typcn typcn-folder"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-gift" container="body" ngbTooltip="typcn typcn-gift"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-globe-outline" container="body" ngbTooltip="typcn typcn-globe-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-globe" container="body" ngbTooltip="typcn typcn-globe"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-group-outline" container="body" ngbTooltip="typcn typcn-group-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-group" container="body" ngbTooltip="typcn typcn-group"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-headphones" container="body" ngbTooltip="typcn typcn-headphones"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-heart-full-outline" container="body" ngbTooltip="typcn typcn-heart-full-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-heart-half-outline" container="body" ngbTooltip="typcn typcn-heart-half-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-heart-outline" container="body" ngbTooltip="typcn typcn-heart-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-heart" container="body" ngbTooltip="typcn typcn-heart"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-home-outline" container="body" ngbTooltip="typcn typcn-home-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-home" container="body" ngbTooltip="typcn typcn-home"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-html5" container="body" ngbTooltip="typcn typcn-html5"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-image-outline" container="body" ngbTooltip="typcn typcn-image-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-image" container="body" ngbTooltip="typcn typcn-image"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-infinity-outline" container="body" ngbTooltip="typcn typcn-infinity-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-info-large-outline" container="body" ngbTooltip="typcn typcn-info-large-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-info-large" container="body" ngbTooltip="typcn typcn-info-large"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-info-outline" container="body" ngbTooltip="typcn typcn-info-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-info" container="body" ngbTooltip="typcn typcn-info"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-input-checked-outline" container="body" ngbTooltip="typcn typcn-input-checked-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-input-checked" container="body" ngbTooltip="typcn typcn-input-checked"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-key-outline" container="body" ngbTooltip="typcn typcn-key-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-key" container="body" ngbTooltip="typcn typcn-key"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-keyboard" container="body" ngbTooltip="typcn typcn-keyboard"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-leaf" container="body" ngbTooltip="typcn typcn-leaf"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-lightbulb" container="body" ngbTooltip="typcn typcn-lightbulb"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-link-outline" container="body" ngbTooltip="typcn typcn-link-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-link" container="body" ngbTooltip="typcn typcn-link"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-location-arrow-outline" container="body" ngbTooltip="typcn typcn-location-arrow-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-location-arrow" container="body" ngbTooltip="typcn typcn-location-arrow"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-location-outline" container="body" ngbTooltip="typcn typcn-location-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-location" container="body" ngbTooltip="typcn typcn-location"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-lock-closed-outline" container="body" ngbTooltip="typcn typcn-lock-closed-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-lock-closed" container="body" ngbTooltip="typcn typcn-lock-closed"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-lock-open-outline" container="body" ngbTooltip="typcn typcn-lock-open-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-lock-open" container="body" ngbTooltip="typcn typcn-lock-open"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-mail" container="body" ngbTooltip="typcn typcn-mail"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-map" container="body" ngbTooltip="typcn typcn-map"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-eject-outline" container="body" ngbTooltip="typcn typcn-media-eject-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-eject" container="body" ngbTooltip="typcn typcn-media-eject"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-fast-forward-outline" container="body" ngbTooltip="typcn typcn-media-fast-forward-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-fast-forward" container="body" ngbTooltip="typcn typcn-media-fast-forward"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-pause-outline" container="body" ngbTooltip="typcn typcn-media-pause-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-pause" container="body" ngbTooltip="typcn typcn-media-pause"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-play-outline" container="body" ngbTooltip="typcn typcn-media-play-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-play-reverse-outline" container="body" ngbTooltip="typcn typcn-media-play-reverse-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-play-reverse" container="body" ngbTooltip="typcn typcn-media-play-reverse"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-play" container="body" ngbTooltip="typcn typcn-media-play"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-record-outline" container="body" ngbTooltip="typcn typcn-media-record-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-record" container="body" ngbTooltip="typcn typcn-media-record"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-rewind-outline" container="body" ngbTooltip="typcn typcn-media-rewind-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-rewind" container="body" ngbTooltip="typcn typcn-media-rewind"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-stop-outline" container="body" ngbTooltip="typcn typcn-media-stop-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-media-stop" container="body" ngbTooltip="typcn typcn-media-stop"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-message-typing" container="body" ngbTooltip="typcn typcn-message-typing"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-message" container="body" ngbTooltip="typcn typcn-message"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-messages" container="body" ngbTooltip="typcn typcn-messages"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-microphone-outline" container="body" ngbTooltip="typcn typcn-microphone-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-microphone" container="body" ngbTooltip="typcn typcn-microphone"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-minus-outline" container="body" ngbTooltip="typcn typcn-minus-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-minus" container="body" ngbTooltip="typcn typcn-minus"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-mortar-board" container="body" ngbTooltip="typcn typcn-mortar-board"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-news" container="body" ngbTooltip="typcn typcn-news"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-notes-outline" container="body" ngbTooltip="typcn typcn-notes-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-notes" container="body" ngbTooltip="typcn typcn-notes"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-pen" container="body" ngbTooltip="typcn typcn-pen"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-pencil" container="body" ngbTooltip="typcn typcn-pencil"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-phone-outline" container="body" ngbTooltip="typcn typcn-phone-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-phone" container="body" ngbTooltip="typcn typcn-phone"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-pi-outline" container="body" ngbTooltip="typcn typcn-pi-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-pi" container="body" ngbTooltip="typcn typcn-pi"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-pin-outline" container="body" ngbTooltip="typcn typcn-pin-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-pin" container="body" ngbTooltip="typcn typcn-pin"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-pipette" container="body" ngbTooltip="typcn typcn-pipette"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-plane-outline" container="body" ngbTooltip="typcn typcn-plane-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-plane" container="body" ngbTooltip="typcn typcn-plane"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-plug" container="body" ngbTooltip="typcn typcn-plug"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-plus-outline" container="body" ngbTooltip="typcn typcn-plus-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-plus" container="body" ngbTooltip="typcn typcn-plus"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-point-of-interest-outline" container="body" ngbTooltip="typcn typcn-point-of-interest-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-point-of-interest" container="body" ngbTooltip="typcn typcn-point-of-interest"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-power-outline" container="body" ngbTooltip="typcn typcn-power-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-power" container="body" ngbTooltip="typcn typcn-power"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-printer" container="body" ngbTooltip="typcn typcn-printer"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-puzzle-outline" container="body" ngbTooltip="typcn typcn-puzzle-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-puzzle" container="body" ngbTooltip="typcn typcn-puzzle"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-radar-outline" container="body" ngbTooltip="typcn typcn-radar-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-radar" container="body" ngbTooltip="typcn typcn-radar"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-refresh-outline" container="body" ngbTooltip="typcn typcn-refresh-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-refresh" container="body" ngbTooltip="typcn typcn-refresh"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-rss-outline" container="body" ngbTooltip="typcn typcn-rss-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-rss" container="body" ngbTooltip="typcn typcn-rss"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-scissors-outline" container="body" ngbTooltip="typcn typcn-scissors-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-scissors" container="body" ngbTooltip="typcn typcn-scissors"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-shopping-bag" container="body" ngbTooltip="typcn typcn-shopping-bag"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-shopping-cart" container="body" ngbTooltip="typcn typcn-shopping-cart"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-at-circular" container="body" ngbTooltip="typcn typcn-social-at-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-dribbble-circular" container="body" ngbTooltip="typcn typcn-social-dribbble-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-dribbble" container="body" ngbTooltip="typcn typcn-social-dribbble"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-facebook-circular" container="body" ngbTooltip="typcn typcn-social-facebook-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-facebook" container="body" ngbTooltip="typcn typcn-social-facebook"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-flickr-circular" container="body" ngbTooltip="typcn typcn-social-flickr-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-flickr" container="body" ngbTooltip="typcn typcn-social-flickr"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-github-circular" container="body" ngbTooltip="typcn typcn-social-github-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-github" container="body" ngbTooltip="typcn typcn-social-github"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-google-plus-circular" container="body" ngbTooltip="typcn typcn-social-google-plus-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-google-plus" container="body" ngbTooltip="typcn typcn-social-google-plus"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-instagram-circular" container="body" ngbTooltip="typcn typcn-social-instagram-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-instagram" container="body" ngbTooltip="typcn typcn-social-instagram"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-last-fm-circular" container="body" ngbTooltip="typcn typcn-social-last-fm-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-last-fm" container="body" ngbTooltip="typcn typcn-social-last-fm"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-linkedin-circular" container="body" ngbTooltip="typcn typcn-social-linkedin-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-linkedin" container="body" ngbTooltip="typcn typcn-social-linkedin"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-pinterest-circular" container="body" ngbTooltip="typcn typcn-social-pinterest-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-pinterest" container="body" ngbTooltip="typcn typcn-social-pinterest"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-skype-outline" container="body" ngbTooltip="typcn typcn-social-skype-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-skype" container="body" ngbTooltip="typcn typcn-social-skype"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-tumbler-circular" container="body" ngbTooltip="typcn typcn-social-tumbler-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-tumbler" container="body" ngbTooltip="typcn typcn-social-tumbler"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-twitter-circular" container="body" ngbTooltip="typcn typcn-social-twitter-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-twitter" container="body" ngbTooltip="typcn typcn-social-twitter"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-vimeo-circular" container="body" ngbTooltip="typcn typcn-social-vimeo-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-vimeo" container="body" ngbTooltip="typcn typcn-social-vimeo"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-youtube-circular" container="body" ngbTooltip="typcn typcn-social-youtube-circular"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-social-youtube" container="body" ngbTooltip="typcn typcn-social-youtube"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-sort-alphabetically-outline" container="body" ngbTooltip="typcn typcn-sort-alphabetically-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-sort-alphabetically" container="body" ngbTooltip="typcn typcn-sort-alphabetically"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-sort-numerically-outline" container="body" ngbTooltip="typcn typcn-sort-numerically-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-sort-numerically" container="body" ngbTooltip="typcn typcn-sort-numerically"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-spanner-outline" container="body" ngbTooltip="typcn typcn-spanner-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-spanner" container="body" ngbTooltip="typcn typcn-spanner"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-spiral" container="body" ngbTooltip="typcn typcn-spiral"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-star-full-outline" container="body" ngbTooltip="typcn typcn-star-full-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-star-half-outline" container="body" ngbTooltip="typcn typcn-star-half-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-star-half" container="body" ngbTooltip="typcn typcn-star-half"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-star-outline" container="body" ngbTooltip="typcn typcn-star-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-star" container="body" ngbTooltip="typcn typcn-star"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-starburst-outline" container="body" ngbTooltip="typcn typcn-starburst-outline"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-starburst" container="body" ngbTooltip="typcn typcn-starburst"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-stopwatch" container="body" ngbTooltip="typcn typcn-stopwatch"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-support" container="body" ngbTooltip="typcn typcn-support"></i></li>
														<li class="icons-list-item"><i class="typcn typcn-tabs-outline" container="body" ngbTooltip="typcn typcn-tabs-outline"></i></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Row-->
