<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title">Notifications</h4>
    </div>
    <div class="page-rightheader ms-auto d-lg-flex d-none">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon"
                        xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                        <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
                    </svg><span class="breadcrumb-icon"> Home</span></a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Apps</a></li>
            <li class="breadcrumb-item active" aria-current="page">Notifications</li>
        </ol>
    </div>
</div>
<!--End Page header-->


<!-- row -->
<div class="row">
    <div class="col-md-12">
        <div class="card mg-b-20">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Notification Types
                </div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in website application.</p>
                <div class="example border-0 p-0">


                    <div class="mt-5">
                        <button class="btn btn-info me-2" (click)="createToast('info')">
                            Info
                        </button>
                        <button class="btn btn-primary me-2" (click)="createToast('primary')">
                            Primary
                        </button>
                        <button class="btn btn-secondary me-2" (click)="createToast('secondary')">
                            Secondary
                        </button>
                        <button class="btn btn-warning me-2" (click)="createToast('warning')">
                            Warning
                        </button>
                        <button class="btn btn-danger me-2" (click)="createToast('danger')">
                            Danger
                        </button>
                        <button class="btn btn-success me-2" (click)="createToast('success')">
                            Success
                        </button>
                        <button class="btn btn-primary me-2" (click)="clearToasts()">
                            Clear All Toasts
                        </button>
                        <button class="btn btn-gray me-2" (click)="clearLastToast()">
                            Clear Last Toast
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<ngx-notifier [allowHTML]="true"></ngx-notifier>