	<!--Page header-->
    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title">Feather Icons</h4>
        </div>
        <div class="page-rightheader ms-auto d-lg-flex d-none">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Home</span></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Icons</a></li>
                <li class="breadcrumb-item active" aria-current="page">Feather Icons</li>
            </ol>
        </div>
    </div>
    <!--End Page header-->

    <!-- Row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Feather Icons</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 mb-4">
                            <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://feathericons.com" target="_blank">click here</a>.</p>
                            <p><code>&lt;i class="fe fe-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                        </div>
                        <div class="col-sm-12 col-lg-12">
                            <div class="icons-list-wrap"> 
                                <ul class="icons-list">
                                    <li class="icons-list-item"><i class="fe fe-activity" container="body" ngbTooltip="fe fe-activity"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-airplay" container="body" ngbTooltip="fe fe-airplay"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-alert-circle" container="body" ngbTooltip="fe fe-alert-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-alert-octagon" container="body" ngbTooltip="fe fe-alert-octagon"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-alert-triangle" container="body" ngbTooltip="fe fe-alert-triangle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-align-center" container="body" ngbTooltip="fe fe-align-center"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-align-justify" container="body" ngbTooltip="fe fe-align-justify"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-align-left" container="body" ngbTooltip="fe fe-align-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-align-right" container="body" ngbTooltip="fe fe-align-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-anchor" container="body" ngbTooltip="fe fe-anchor"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-aperture" container="body" ngbTooltip="fe fe-aperture"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-down" container="body" ngbTooltip="fe fe-arrow-down"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-down-circle" container="body" ngbTooltip="fe fe-arrow-down-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-down-left" container="body" ngbTooltip="fe fe-arrow-down-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-down-right" container="body" ngbTooltip="fe fe-arrow-down-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-left" container="body" ngbTooltip="fe fe-arrow-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-left-circle" container="body" ngbTooltip="fe fe-arrow-left-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-right" container="body" ngbTooltip="fe fe-arrow-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-right-circle" container="body" ngbTooltip="fe fe-arrow-right-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-up" container="body" ngbTooltip="fe fe-arrow-up"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-up-circle" container="body" ngbTooltip="fe fe-arrow-up-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-up-left" container="body" ngbTooltip="fe fe-arrow-up-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-arrow-up-right" container="body" ngbTooltip="fe fe-arrow-up-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-at-sign" container="body" ngbTooltip="fe fe-at-sign"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-award" container="body" ngbTooltip="fe fe-award"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-bar-chart" container="body" ngbTooltip="fe fe-bar-chart"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-bar-chart-2" container="body" ngbTooltip="fe fe-bar-chart-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-battery" container="body" ngbTooltip="fe fe-battery"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-battery-charging" container="body" ngbTooltip="fe fe-battery-charging"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-bell" container="body" ngbTooltip="fe fe-bell"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-bell-off" container="body" ngbTooltip="fe fe-bell-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-bluetooth" container="body" ngbTooltip="fe fe-bluetooth"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-bold" container="body" ngbTooltip="fe fe-bold"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-book" container="body" ngbTooltip="fe fe-book"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-book-open" container="body" ngbTooltip="fe fe-book-open"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-bookmark" container="body" ngbTooltip="fe fe-bookmark"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-box" container="body" ngbTooltip="fe fe-box"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-briefcase" container="body" ngbTooltip="fe fe-briefcase"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-calendar" container="body" ngbTooltip="fe fe-calendar"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-camera" container="body" ngbTooltip="fe fe-camera"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-camera-off" container="body" ngbTooltip="fe fe-camera-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-cast" container="body" ngbTooltip="fe fe-cast"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-check" container="body" ngbTooltip="fe fe-check"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-check-circle" container="body" ngbTooltip="fe fe-check-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-check-square" container="body" ngbTooltip="fe fe-check-square"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chevron-down" container="body" ngbTooltip="fe fe-chevron-down"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chevron-left" container="body" ngbTooltip="fe fe-chevron-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chevron-right" container="body" ngbTooltip="fe fe-chevron-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chevron-up" container="body" ngbTooltip="fe fe-chevron-up"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chevrons-down" container="body" ngbTooltip="fe fe-chevrons-down"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chevrons-left" container="body" ngbTooltip="fe fe-chevrons-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chevrons-right" container="body" ngbTooltip="fe fe-chevrons-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chevrons-up" container="body" ngbTooltip="fe fe-chevrons-up"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-chrome" container="body" ngbTooltip="fe fe-chrome"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-circle" container="body" ngbTooltip="fe fe-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-clipboard" container="body" ngbTooltip="fe fe-clipboard"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-clock" container="body" ngbTooltip="fe fe-clock"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-cloud" container="body" ngbTooltip="fe fe-cloud"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-cloud-drizzle" container="body" ngbTooltip="fe fe-cloud-drizzle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-cloud-lightning" container="body" ngbTooltip="fe fe-cloud-lightning"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-cloud-off" container="body" ngbTooltip="fe fe-cloud-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-cloud-rain" container="body" ngbTooltip="fe fe-cloud-rain"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-cloud-snow" container="body" ngbTooltip="fe fe-cloud-snow"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-code" container="body" ngbTooltip="fe fe-code"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-codepen" container="body" ngbTooltip="fe fe-codepen"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-command" container="body" ngbTooltip="fe fe-command"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-compass" container="body" ngbTooltip="fe fe-compass"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-copy" container="body" ngbTooltip="fe fe-copy"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-corner-down-left" container="body" ngbTooltip="fe fe-corner-down-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-corner-down-right" container="body" ngbTooltip="fe fe-corner-down-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-corner-left-down" container="body" ngbTooltip="fe fe-corner-left-down"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-corner-left-up" container="body" ngbTooltip="fe fe-corner-left-up"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-corner-right-down" container="body" ngbTooltip="fe fe-corner-right-down"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-corner-right-up" container="body" ngbTooltip="fe fe-corner-right-up"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-corner-up-left" container="body" ngbTooltip="fe fe-corner-up-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-corner-up-right" container="body" ngbTooltip="fe fe-corner-up-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-cpu" container="body" ngbTooltip="fe fe-cpu"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-credit-card" container="body" ngbTooltip="fe fe-credit-card"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-crop" container="body" ngbTooltip="fe fe-crop"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-crosshair" container="body" ngbTooltip="fe fe-crosshair"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-database" container="body" ngbTooltip="fe fe-database"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-delete" container="body" ngbTooltip="fe fe-delete"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-disc" container="body" ngbTooltip="fe fe-disc"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-dollar-sign" container="body" ngbTooltip="fe fe-dollar-sign"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-download" container="body" ngbTooltip="fe fe-download"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-download-cloud" container="body" ngbTooltip="fe fe-download-cloud"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-droplet" container="body" ngbTooltip="fe fe-droplet"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-edit" container="body" ngbTooltip="fe fe-edit"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-edit-2" container="body" ngbTooltip="fe fe-edit-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-edit-3" container="body" ngbTooltip="fe fe-edit-3"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-external-link" container="body" ngbTooltip="fe fe-external-link"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-eye" container="body" ngbTooltip="fe fe-eye"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-eye-off" container="body" ngbTooltip="fe fe-eye-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-facebook" container="body" ngbTooltip="fe fe-facebook"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-fast-forward" container="body" ngbTooltip="fe fe-fast-forward"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-feather" container="body" ngbTooltip="fe fe-feather"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-file" container="body" ngbTooltip="fe fe-file"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-file-minus" container="body" ngbTooltip="fe fe-file-minus"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-file-plus" container="body" ngbTooltip="fe fe-file-plus"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-file-text" container="body" ngbTooltip="fe fe-file-text"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-film" container="body" ngbTooltip="fe fe-film"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-filter" container="body" ngbTooltip="fe fe-filter"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-flag" container="body" ngbTooltip="fe fe-flag"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-folder" container="body" ngbTooltip="fe fe-folder"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-folder-minus" container="body" ngbTooltip="fe fe-folder-minus"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-folder-plus" container="body" ngbTooltip="fe fe-folder-plus"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-git-branch" container="body" ngbTooltip="fe fe-git-branch"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-git-commit" container="body" ngbTooltip="fe fe-git-commit"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-git-merge" container="body" ngbTooltip="fe fe-git-merge"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-git-pull-request" container="body" ngbTooltip="fe fe-git-pull-request"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-github" container="body" ngbTooltip="fe fe-github"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-gitlab" container="body" ngbTooltip="fe fe-gitlab"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-globe" container="body" ngbTooltip="fe fe-globe"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-grid" container="body" ngbTooltip="fe fe-grid"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-hard-drive" container="body" ngbTooltip="fe fe-hard-drive"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-hash" container="body" ngbTooltip="fe fe-hash"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-headphones" container="body" ngbTooltip="fe fe-headphones"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-heart" container="body" ngbTooltip="fe fe-heart"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-help-circle" container="body" ngbTooltip="fe fe-help-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-home" container="body" ngbTooltip="fe fe-home"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-image" container="body" ngbTooltip="fe fe-image"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-inbox" container="body" ngbTooltip="fe fe-inbox"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-info" container="body" ngbTooltip="fe fe-info"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-instagram" container="body" ngbTooltip="fe fe-instagram"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-italic" container="body" ngbTooltip="fe fe-italic"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-layers" container="body" ngbTooltip="fe fe-layers"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-layout" container="body" ngbTooltip="fe fe-layout"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-life-buoy" container="body" ngbTooltip="fe fe-life-buoy"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-link" container="body" ngbTooltip="fe fe-link"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-link-2" container="body" ngbTooltip="fe fe-link-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-linkedin" container="body" ngbTooltip="fe fe-linkedin"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-list" container="body" ngbTooltip="fe fe-list"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-loader" container="body" ngbTooltip="fe fe-loader"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-lock" container="body" ngbTooltip="fe fe-lock"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-log-in" container="body" ngbTooltip="fe fe-log-in"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-log-out" container="body" ngbTooltip="fe fe-log-out"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-mail" container="body" ngbTooltip="fe fe-mail"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-map" container="body" ngbTooltip="fe fe-map"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-map-pin" container="body" ngbTooltip="fe fe-map-pin"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-maximize" container="body" ngbTooltip="fe fe-maximize"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-maximize-2" container="body" ngbTooltip="fe fe-maximize-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-menu" container="body" ngbTooltip="fe fe-menu"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-message-circle" container="body" ngbTooltip="fe fe-message-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-message-square" container="body" ngbTooltip="fe fe-message-square"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-mic" container="body" ngbTooltip="fe fe-mic"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-mic-off" container="body" ngbTooltip="fe fe-mic-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-minimize" container="body" ngbTooltip="fe fe-minimize"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-minimize-2" container="body" ngbTooltip="fe fe-minimize-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-minus" container="body" ngbTooltip="fe fe-minus"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-minus-circle" container="body" ngbTooltip="fe fe-minus-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-minus-square" container="body" ngbTooltip="fe fe-minus-square"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-monitor" container="body" ngbTooltip="fe fe-monitor"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-moon" container="body" ngbTooltip="fe fe-moon"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-more-horizontal" container="body" ngbTooltip="fe fe-more-horizontal"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-more-vertical" container="body" ngbTooltip="fe fe-more-vertical"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-move" container="body" ngbTooltip="fe fe-move"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-music" container="body" ngbTooltip="fe fe-music"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-navigation" container="body" ngbTooltip="fe fe-navigation"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-navigation-2" container="body" ngbTooltip="fe fe-navigation-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-octagon" container="body" ngbTooltip="fe fe-octagon"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-package" container="body" ngbTooltip="fe fe-package"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-paperclip" container="body" ngbTooltip="fe fe-paperclip"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-pause" container="body" ngbTooltip="fe fe-pause"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-pause-circle" container="body" ngbTooltip="fe fe-pause-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-percent" container="body" ngbTooltip="fe fe-percent"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-phone" container="body" ngbTooltip="fe fe-phone"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-phone-call" container="body" ngbTooltip="fe fe-phone-call"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-phone-forwarded" container="body" ngbTooltip="fe fe-phone-forwarded"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-phone-incoming" container="body" ngbTooltip="fe fe-phone-incoming"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-phone-missed" container="body" ngbTooltip="fe fe-phone-missed"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-phone-off" container="body" ngbTooltip="fe fe-phone-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-phone-outgoing" container="body" ngbTooltip="fe fe-phone-outgoing"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-pie-chart" container="body" ngbTooltip="fe fe-pie-chart"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-play" container="body" ngbTooltip="fe fe-play"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-play-circle" container="body" ngbTooltip="fe fe-play-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-plus" container="body" ngbTooltip="fe fe-plus"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-plus-circle" container="body" ngbTooltip="fe fe-plus-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-plus-square" container="body" ngbTooltip="fe fe-plus-square"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-pocket" container="body" ngbTooltip="fe fe-pocket"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-power" container="body" ngbTooltip="fe fe-power"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-printer" container="body" ngbTooltip="fe fe-printer"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-radio" container="body" ngbTooltip="fe fe-radio"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-refresh-ccw" container="body" ngbTooltip="fe fe-refresh-ccw"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-refresh-cw" container="body" ngbTooltip="fe fe-refresh-cw"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-repeat" container="body" ngbTooltip="fe fe-repeat"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-rewind" container="body" ngbTooltip="fe fe-rewind"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-rotate-ccw" container="body" ngbTooltip="fe fe-rotate-ccw"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-rotate-cw" container="body" ngbTooltip="fe fe-rotate-cw"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-rss" container="body" ngbTooltip="fe fe-rss"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-save" container="body" ngbTooltip="fe fe-save"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-scissors" container="body" ngbTooltip="fe fe-scissors"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-search" container="body" ngbTooltip="fe fe-search"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-send" container="body" ngbTooltip="fe fe-send"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-server" container="body" ngbTooltip="fe fe-server"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-settings" container="body" ngbTooltip="fe fe-settings"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-share" container="body" ngbTooltip="fe fe-share"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-share-2" container="body" ngbTooltip="fe fe-share-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-shield" container="body" ngbTooltip="fe fe-shield"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-shield-off" container="body" ngbTooltip="fe fe-shield-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-shopping-bag" container="body" ngbTooltip="fe fe-shopping-bag"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-shopping-cart" container="body" ngbTooltip="fe fe-shopping-cart"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-shuffle" container="body" ngbTooltip="fe fe-shuffle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-sidebar" container="body" ngbTooltip="fe fe-sidebar"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-skip-back" container="body" ngbTooltip="fe fe-skip-back"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-skip-forward" container="body" ngbTooltip="fe fe-skip-forward"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-slack" container="body" ngbTooltip="fe fe-slack"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-slash" container="body" ngbTooltip="fe fe-slash"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-sliders" container="body" ngbTooltip="fe fe-sliders"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-smartphone" container="body" ngbTooltip="fe fe-smartphone"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-speaker" container="body" ngbTooltip="fe fe-speaker"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-square" container="body" ngbTooltip="fe fe-square"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-star" container="body" ngbTooltip="fe fe-star"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-stop-circle" container="body" ngbTooltip="fe fe-stop-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-sun" container="body" ngbTooltip="fe fe-sun"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-sunrise" container="body" ngbTooltip="fe fe-sunrise"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-sunset" container="body" ngbTooltip="fe fe-sunset"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-tablet" container="body" ngbTooltip="fe fe-tablet"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-tag" container="body" ngbTooltip="fe fe-tag"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-target" container="body" ngbTooltip="fe fe-target"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-terminal" container="body" ngbTooltip="fe fe-terminal"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-thermometer" container="body" ngbTooltip="fe fe-thermometer"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-thumbs-down" container="body" ngbTooltip="fe fe-thumbs-down"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-thumbs-up" container="body" ngbTooltip="fe fe-thumbs-up"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-toggle-left" container="body" ngbTooltip="fe fe-toggle-left"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-toggle-right" container="body" ngbTooltip="fe fe-toggle-right"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-trash" container="body" ngbTooltip="fe fe-trash"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-trash-2" container="body" ngbTooltip="fe fe-trash-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-trending-down" container="body" ngbTooltip="fe fe-trending-down"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-trending-up" container="body" ngbTooltip="fe fe-trending-up"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-triangle" container="body" ngbTooltip="fe fe-triangle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-truck" container="body" ngbTooltip="fe fe-truck"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-tv" container="body" ngbTooltip="fe fe-tv"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-twitter" container="body" ngbTooltip="fe fe-twitter"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-type" container="body" ngbTooltip="fe fe-type"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-umbrella" container="body" ngbTooltip="fe fe-umbrella"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-underline" container="body" ngbTooltip="fe fe-underline"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-unlock" container="body" ngbTooltip="fe fe-unlock"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-upload" container="body" ngbTooltip="fe fe-upload"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-upload-cloud" container="body" ngbTooltip="fe fe-upload-cloud"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-user" container="body" ngbTooltip="fe fe-user"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-user-check" container="body" ngbTooltip="fe fe-user-check"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-user-minus" container="body" ngbTooltip="fe fe-user-minus"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-user-plus" container="body" ngbTooltip="fe fe-user-plus"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-user-x" container="body" ngbTooltip="fe fe-user-x"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-users" container="body" ngbTooltip="fe fe-users"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-video" container="body" ngbTooltip="fe fe-video"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-video-off" container="body" ngbTooltip="fe fe-video-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-voicemail" container="body" ngbTooltip="fe fe-voicemail"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-volume" container="body" ngbTooltip="fe fe-volume"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-volume-1" container="body" ngbTooltip="fe fe-volume-1"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-volume-2" container="body" ngbTooltip="fe fe-volume-2"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-volume-x" container="body" ngbTooltip="fe fe-volume-x"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-watch" container="body" ngbTooltip="fe fe-watch"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-wifi" container="body" ngbTooltip="fe fe-wifi"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-wifi-off" container="body" ngbTooltip="fe fe-wifi-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-wind" container="body" ngbTooltip="fe fe-wind"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-x" container="body" ngbTooltip="fe fe-x"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-x-circle" container="body" ngbTooltip="fe fe-x-circle"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-x-square" container="body" ngbTooltip="fe fe-x-square"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-zap" container="body" ngbTooltip="fe fe-zap"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-zap-off" container="body" ngbTooltip="fe fe-zap-off"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-zoom-in" container="body" ngbTooltip="fe fe-zoom-in"></i></li>
                                    <li class="icons-list-item"><i class="fe fe-zoom-out" container="body" ngbTooltip="fe fe-zoom-out"></i></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End row-->