<!--Page header-->
<div class="page-header">
	<div class="page-leftheader">
		<h4 class="page-title">{{!updateid ? 'Add':'Update'}}</h4>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><span class="breadcrumb-icon">
						Customer</span></a></li>
			<!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li> -->
			<li class="breadcrumb-item active" aria-current="page">{{!updateid ? 'Add':'Update'}}</li>
		</ol>
	</div>
</div>
<!--End Page header-->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title"> Customer</h3>
			</div>

			<div class="card-body">

				<form [formGroup]="customerRegisterForm" (ngSubmit)="!updateid ? addCustomer() :UpdateCustomerdata()">
					<div class="row">
						<div class="col-sm-6 col-md-6">
							<div class="mb-3">
								<label class="form-label">Customer Name <span class="text-red">*</span></label>
								<input type="text" class="form-control" placeholder="Customer Name" required
									autocomplete="on" [ngClass]="{
														'is-invalid': customerRegisterForm.controls['customerName'].invalid && (customerRegisterForm.controls['customerName'].dirty || customerRegisterForm.controls['customerName'].touched) 
													  }" formControlName="customerName">
							</div>
							<div
								*ngIf="customerRegisterForm.controls['customerName'].invalid && (customerRegisterForm.controls['customerName'].dirty || customerRegisterForm.controls['customerName'].touched)">
								<div *ngIf="customerRegisterForm.controls['customerName'].errors.required"
									class="text-danger">
									required
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="mb-3">
								<label class="form-label">Email address<span class="text-red">*</span></label>
								<input type="email" class="form-control" placeholder="Email" autocomplete="off"
									placeholder="Enter Email" required [ngClass]="{
														'is-invalid': customerRegisterForm.controls['email'].invalid && (customerRegisterForm.controls['email'].dirty || customerRegisterForm.controls['email'].touched) 
													  }" formControlName="email">
							</div>
							<div
								*ngIf="customerRegisterForm.controls['email'].invalid && (customerRegisterForm.controls['email'].dirty || customerRegisterForm.controls['email'].touched)  ">

								<div *ngIf="customerRegisterForm.controls['email'].errors?.email" class="text-danger">
									Email address is invalid
								</div>

								<div *ngIf="customerRegisterForm.controls['email'].errors.required" class="text-danger">
									required
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6 col-md-6">
							<div class="mb-3">
								<label class="form-label">Phone Number <span class="text-red">*</span></label>
								<input type="tel" name="phoneNo" class="form-control" autocomplete="off"
									placeholder="Phone Number" required [ngClass]="{
														'is-invalid': customerRegisterForm.controls['phoneNo'].invalid && (customerRegisterForm.controls['phoneNo'].dirty || customerRegisterForm.controls['phoneNo'].touched) 
													  }" formControlName="phoneNo">
							</div>

							<div
								*ngIf="customerRegisterForm.controls['phoneNo'].invalid && (customerRegisterForm.controls['phoneNo'].dirty || customerRegisterForm.controls['phoneNo'].touched)">
								<div
									*ngIf="customerRegisterForm.controls['phoneNo'].invalid && (customerRegisterForm.controls['phoneNo'].dirty || customerRegisterForm.controls['phoneNo'].touched||customerRegisterForm.controls['phoneNo'].pattern)&&(!customerRegisterForm.controls['phoneNo'].errors.required)">
									<div class="text-danger">
										invalid Phone
									</div>
								</div>
								<div *ngIf="customerRegisterForm.controls['phoneNo'].errors.required"
									class="text-danger">
									required
								</div>

							</div>



						</div>

						<div class="col-sm-6 col-md-6">
							<div class="mb-3">
								<label class="form-label">Address <span class="text-red">*</span></label>
								<!-- 	<input type="text" name="customerAddress" class="form-control" autocomplete="off"
									placeholder="Address" required [ngClass]="{
														'is-invalid': customerRegisterForm.controls['customerAddress'].invalid && (customerRegisterForm.controls['customerAddress'].dirty || customerRegisterForm.controls['customerAddress'].touched) 
													  }" formControlName="customerAddress"> -->

								<textarea class="text-area form-control" rows="2" id="content" formControlName="content"
									placeholder="Address" required [ngClass]="{
									'is-invalid': customerRegisterForm.controls['customerAddress'].invalid && (customerRegisterForm.controls['customerAddress'].dirty || customerRegisterForm.controls['customerAddress'].touched) 
								  }" formControlName="customerAddress" autocomplete="off"></textarea>
							</div>
							<div
								*ngIf="customerRegisterForm.controls['customerAddress'].invalid && (customerRegisterForm.controls['customerAddress'].dirty || customerRegisterForm.controls['customerAddress'].touched)">
								<div *ngIf="customerRegisterForm.controls['customerAddress'].errors.required"
									class="text-danger">
									required
								</div>
							</div>
						</div>


						<div class="form-footer mt-2">
							<button type="submit" [disabled]="
												customerRegisterForm.invalid" class="btn  btn-primary btn-block px-2 btn-submit d-flex">
								<div class="arrow bounce"><i class="fe fe-arrow-right "></i></div>
								{{updateid ===null ? 'Add' : 'Update' }}
							</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>