.btn-submit.d-flex {
    justify-content: center;
    margin-left: 10px;
    height: 40px;
}


.custom-select{
    border: 1px solid #d3dfea;
    background: #fff;
    border-radius: 5px;
    height: 38px;
    padding: 7px 10px;
    font-weight: 400 !important;
}
.form-footer {
    margin-top: 2rem;
    width: 47%;
}
.text-area{
    border: 1px solid #d3dfea;
    background: #fff;
    border-radius: 5px;
    //height: 38px;
    padding: 7px 10px;
    font-weight: 400 !important;
}