
						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">Simpleline Icons</h4>
							</div>
							<div class="page-rightheader ms-auto d-lg-flex d-none">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Home</span></a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">Icons</a></li>
									<li class="breadcrumb-item active" aria-current="page">Simpleline Icons</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->

						<!-- Row-->
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Simpleline Icons</h3>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-lg-12 col-sm-12 mb-4">
												<p class="mb-2">Simply beautiful open source icons. For more info <a href="https://simplelineicons.github.io/" target="_blank">click here</a>.</p>
												<p><code>&lt;i class="si si-ICON_NAME"&gt;&lt;/i&gt;</code></p>
											</div>
											<div class="col-sm-12 col-lg-12">
												<div class="icons-list-wrap">
													<ul class="icons-list">
														<li class="icons-list-item"><i class="si si-user" container="body" ngbTooltip="si-user"></i></li>
														<li class="icons-list-item"><i class="si si-people" container="body" ngbTooltip="si-people"></i></li>
														<li class="icons-list-item"><i class="si si-user-female" container="body" ngbTooltip="si-user-female"></i></li>
														<li class="icons-list-item"><i class="si si-user-follow" container="body" ngbTooltip="si-user-follow"></i></li>
														<li class="icons-list-item"><i class="si si-user-following" container="body" ngbTooltip="si-user-following"></i></li>
														<li class="icons-list-item"><i class="si si-user-unfollow" container="body" ngbTooltip="si-user-unfollow"></i></li>
														<li class="icons-list-item"><i class="si si-login" container="body" ngbTooltip="si-login"></i></li>
														<li class="icons-list-item"><i class="si si-logout" container="body" ngbTooltip="si-logout"></i></li>
														<li class="icons-list-item"><i class="si si-emotsmile" container="body" ngbTooltip="si-emotsmile"></i></li>
														<li class="icons-list-item"><i class="si si-phone" container="body" ngbTooltip="si-phone"></i></li>
														<li class="icons-list-item"><i class="si si-call-end" container="body" ngbTooltip="si-call-end"></i></li>
														<li class="icons-list-item"><i class="si si-call-in" container="body" ngbTooltip="si-call-in"></i></li>
														<li class="icons-list-item"><i class="si si-call-out" container="body" ngbTooltip="si-call-out"></i></li>
														<li class="icons-list-item"><i class="si si-map" container="body" ngbTooltip="si-map"></i></li>
														<li class="icons-list-item"><i class="si si-location-pin" container="body" ngbTooltip="si-location-pin"></i></li>
														<li class="icons-list-item"><i class="si si-direction" container="body" ngbTooltip="si-direction"></i></li>
														<li class="icons-list-item"><i class="si si-directions" container="body" ngbTooltip="si-directions"></i></li>
														<li class="icons-list-item"><i class="si si-compass" container="body" ngbTooltip="si-compass"></i></li>
														<li class="icons-list-item"><i class="si si-layers" container="body" ngbTooltip="si-layers"></i></li>
														<li class="icons-list-item"><i class="si si-menu" container="body" ngbTooltip="si-menu"></i></li>
														<li class="icons-list-item"><i class="si si-list" container="body" ngbTooltip="si-list"></i></li>
														<li class="icons-list-item"><i class="si si-options-vertical" container="body" ngbTooltip="si-options-vertical"></i></li>
														<li class="icons-list-item"><i class="si si-options" container="body" ngbTooltip="si-options"></i></li>
														<li class="icons-list-item"><i class="si si-arrow-down" container="body" ngbTooltip="si-arrow-down"></i></li>
														<li class="icons-list-item"><i class="si si-arrow-left" container="body" ngbTooltip="si-arrow-left"></i></li>
														<li class="icons-list-item"><i class="si si-arrow-right" container="body" ngbTooltip="si-arrow-right"></i></li>
														<li class="icons-list-item"><i class="si si-arrow-up" container="body" ngbTooltip="si-arrow-up"></i></li>
														<li class="icons-list-item"><i class="si si-arrow-up-circle" container="body" ngbTooltip="si-arrow-up-circle"></i></li>
														<li class="icons-list-item"><i class="si si-arrow-left-circle" container="body" ngbTooltip="si-arrow-left-circle"></i></li>
														<li class="icons-list-item"><i class="si si-arrow-right-circle" container="body" ngbTooltip="si-arrow-right-circle"></i></li>
														<li class="icons-list-item"><i class="si si-arrow-down-circle" container="body" ngbTooltip="si-arrow-down-circle"></i></li>
														<li class="icons-list-item"><i class="si si-check" container="body" ngbTooltip="si-check"></i></li>
														<li class="icons-list-item"><i class="si si-clock" container="body" ngbTooltip="si-clock"></i></li>
														<li class="icons-list-item"><i class="si si-plus" container="body" ngbTooltip="si-plus"></i></li>
														<li class="icons-list-item"><i class="si si-minus" container="body" ngbTooltip="si-minus"></i></li>
														<li class="icons-list-item"><i class="si si-close" container="body" ngbTooltip="si-close"></i></li>
														<li class="icons-list-item"><i class="si si-event" container="body" ngbTooltip="si-event"></i></li>
														<li class="icons-list-item"><i class="si si-exclamation" container="body" ngbTooltip="si-exclamation"></i></li>
														<li class="icons-list-item"><i class="si si-organization" container="body" ngbTooltip="si-organization"></i></li>
														<li class="icons-list-item"><i class="si si-trophy" container="body" ngbTooltip="si-trophy"></i></li>
														<li class="icons-list-item"><i class="si si-screen-smartphone" container="body" ngbTooltip="si-screen-smartphone"></i></li>
														<li class="icons-list-item"><i class="si si-screen-desktop" container="body" ngbTooltip="si-screen-desktop"></i></li>
														<li class="icons-list-item"><i class="si si-plane" container="body" ngbTooltip="si-plane"></i></li>
														<li class="icons-list-item"><i class="si si-notebook" container="body" ngbTooltip="si-notebook"></i></li>
														<li class="icons-list-item"><i class="si si-mustache" container="body" ngbTooltip="si-mustache"></i></li>
														<li class="icons-list-item"><i class="si si-mouse" container="body" ngbTooltip="si-mouse"></i></li>
														<li class="icons-list-item"><i class="si si-magnet" container="body" ngbTooltip="si-magnet"></i></li>
														<li class="icons-list-item"><i class="si si-energy" container="body" ngbTooltip="si-energy"></i></li>
														<li class="icons-list-item"><i class="si si-disc" container="body" ngbTooltip="si-disc"></i></li>
														<li class="icons-list-item"><i class="si si-cursor" container="body" ngbTooltip="si-cursor"></i></li>
														<li class="icons-list-item"><i class="si si-cursor-move" container="body" ngbTooltip="si-cursor-move"></i></li>
														<li class="icons-list-item"><i class="si si-crop" container="body" ngbTooltip="si-crop"></i></li>
														<li class="icons-list-item"><i class="si si-chemistry" container="body" ngbTooltip="si-chemistry"></i></li>
														<li class="icons-list-item"><i class="si si-speedometer" container="body" ngbTooltip="si-speedometer"></i></li>
														<li class="icons-list-item"><i class="si si-shield" container="body" ngbTooltip="si-shield"></i></li>
														<li class="icons-list-item"><i class="si si-screen-tablet" container="body" ngbTooltip="si-screen-tablet"></i></li>
														<li class="icons-list-item"><i class="si si-magic-wand" container="body" ngbTooltip="si-magic-wand"></i></li>
														<li class="icons-list-item"><i class="si si-hourglass" container="body" ngbTooltip="si-hourglass"></i></li>
														<li class="icons-list-item"><i class="si si-graduation" container="body" ngbTooltip="si-graduation"></i></li>
														<li class="icons-list-item"><i class="si si-ghost" container="body" ngbTooltip="si-ghost"></i></li>
														<li class="icons-list-item"><i class="si si-game-controller" container="body" ngbTooltip="si-game-controller"></i></li>
														<li class="icons-list-item"><i class="si si-fire" container="body" ngbTooltip="si-fire"></i></li>
														<li class="icons-list-item"><i class="si si-eyeglass" container="body" ngbTooltip="si-eyeglass"></i></li>
														<li class="icons-list-item"><i class="si si-envelope-open" container="body" ngbTooltip="si-envelope-open"></i></li>
														<li class="icons-list-item"><i class="si si-envelope-letter" container="body" ngbTooltip="si-envelope-letter"></i></li>
														<li class="icons-list-item"><i class="si si-bell" container="body" ngbTooltip="si-bell"></i></li>
														<li class="icons-list-item"><i class="si si-badge" container="body" ngbTooltip="si-badge"></i></li>
														<li class="icons-list-item"><i class="si si-anchor" container="body" ngbTooltip="si-anchor"></i></li>
														<li class="icons-list-item"><i class="si si-wallet" container="body" ngbTooltip="si-wallet"></i></li>
														<li class="icons-list-item"><i class="si si-vector" container="body" ngbTooltip="si-vector"></i></li>
														<li class="icons-list-item"><i class="si si-speech" container="body" ngbTooltip="si-speech"></i></li>
														<li class="icons-list-item"><i class="si si-puzzle" container="body" ngbTooltip="si-puzzle"></i></li>
														<li class="icons-list-item"><i class="si si-printer" container="body" ngbTooltip="si-printer"></i></li>
														<li class="icons-list-item"><i class="si si-present" container="body" ngbTooltip="si-present"></i></li>
														<li class="icons-list-item"><i class="si si-playlist" container="body" ngbTooltip="si-playlist"></i></li>
														<li class="icons-list-item"><i class="si si-pin" container="body" ngbTooltip="si-pin"></i></li>
														<li class="icons-list-item"><i class="si si-picture" container="body" ngbTooltip="si-picture"></i></li>
														<li class="icons-list-item"><i class="si si-handbag" container="body" ngbTooltip="si-handbag"></i></li>
														<li class="icons-list-item"><i class="si si-globe-alt" container="body" ngbTooltip="si-globe-alt"></i></li>
														<li class="icons-list-item"><i class="si si-globe" container="body" ngbTooltip="si-globe"></i></li>
														<li class="icons-list-item"><i class="si si-folder-alt" container="body" ngbTooltip="si-folder-alt"></i></li>
														<li class="icons-list-item"><i class="si si-folder" container="body" ngbTooltip="si-folder"></i></li>
														<li class="icons-list-item"><i class="si si-film" container="body" ngbTooltip="si-film"></i></li>
														<li class="icons-list-item"><i class="si si-feed" container="body" ngbTooltip="si-feed"></i></li>
														<li class="icons-list-item"><i class="si si-drop" container="body" ngbTooltip="si-drop"></i></li>
														<li class="icons-list-item"><i class="si si-drawer" container="body" ngbTooltip="si-drawer"></i></li>
														<li class="icons-list-item"><i class="si si-docs" container="body" ngbTooltip="si-docs"></i></li>
														<li class="icons-list-item"><i class="si si-doc" container="body" ngbTooltip="si-doc"></i></li>
														<li class="icons-list-item"><i class="si si-diamond" container="body" ngbTooltip="si-diamond"></i></li>
														<li class="icons-list-item"><i class="si si-cup" container="body" ngbTooltip="si-cup"></i></li>
														<li class="icons-list-item"><i class="si si-calculator" container="body" ngbTooltip="si-calculator"></i></li>
														<li class="icons-list-item"><i class="si si-bubbles" container="body" ngbTooltip="si-bubbles"></i></li>
														<li class="icons-list-item"><i class="si si-briefcase" container="body" ngbTooltip="si-briefcase"></i></li>
														<li class="icons-list-item"><i class="si si-book-open" container="body" ngbTooltip="si-book-open"></i></li>
														<li class="icons-list-item"><i class="si si-basket-loaded" container="body" ngbTooltip="si-basket-loaded"></i></li>
														<li class="icons-list-item"><i class="si si-basket" container="body" ngbTooltip="si-basket"></i></li>
														<li class="icons-list-item"><i class="si si-bag" container="body" ngbTooltip="si-bag"></i></li>
														<li class="icons-list-item"><i class="si si-action-undo" container="body" ngbTooltip="si-action-undo"></i></li>
														<li class="icons-list-item"><i class="si si-action-redo" container="body" ngbTooltip="si-action-redo"></i></li>
														<li class="icons-list-item"><i class="si si-wrench" container="body" ngbTooltip="si-wrench"></i></li>
														<li class="icons-list-item"><i class="si si-umbrella" container="body" ngbTooltip="si-umbrella"></i></li>
														<li class="icons-list-item"><i class="si si-trash" container="body" ngbTooltip="si-trash"></i></li>
														<li class="icons-list-item"><i class="si si-tag" container="body" ngbTooltip="si-tag"></i></li>
														<li class="icons-list-item"><i class="si si-support" container="body" ngbTooltip="si-support"></i></li>
														<li class="icons-list-item"><i class="si si-frame" container="body" ngbTooltip="si-frame"></i></li>
														<li class="icons-list-item"><i class="si si-size-fullscreen" container="body" ngbTooltip="si-size-fullscreen"></i></li>
														<li class="icons-list-item"><i class="si si-size-actual" container="body" ngbTooltip="si-size-actual"></i></li>
														<li class="icons-list-item"><i class="si si-shuffle" container="body" ngbTooltip="si-shuffle"></i></li>
														<li class="icons-list-item"><i class="si si-share-alt" container="body" ngbTooltip="si-share-alt"></i></li>
														<li class="icons-list-item"><i class="si si-share" container="body" ngbTooltip="si-share"></i></li>
														<li class="icons-list-item"><i class="si si-rocket" container="body" ngbTooltip="si-rocket"></i></li>
														<li class="icons-list-item"><i class="si si-question" container="body" ngbTooltip="si-question"></i></li>
														<li class="icons-list-item"><i class="si si-pie-chart" container="body" ngbTooltip="si-pie-chart"></i></li>
														<li class="icons-list-item"><i class="si si-pencil" container="body" ngbTooltip="si-pencil"></i></li>
														<li class="icons-list-item"><i class="si si-note" container="body" ngbTooltip="si-note"></i></li>
														<li class="icons-list-item"><i class="si si-loop" container="body" ngbTooltip="si-loop"></i></li>
														<li class="icons-list-item"><i class="si si-home" container="body" ngbTooltip="si-home"></i></li>
														<li class="icons-list-item"><i class="si si-grid" container="body" ngbTooltip="si-grid"></i></li>
														<li class="icons-list-item"><i class="si si-graph" container="body" ngbTooltip="si-graph"></i></li>
														<li class="icons-list-item"><i class="si si-microphone" container="body" ngbTooltip="si-microphone"></i></li>
														<li class="icons-list-item"><i class="si si-music-tone-alt" container="body" ngbTooltip="si-music-tone-alt"></i></li>
														<li class="icons-list-item"><i class="si si-music-tone" container="body" ngbTooltip="si-music-tone"></i></li>
														<li class="icons-list-item"><i class="si si-earphones-alt" container="body" ngbTooltip="si-earphones-alt"></i></li>
														<li class="icons-list-item"><i class="si si-earphones" container="body" ngbTooltip="si-earphones"></i></li>
														<li class="icons-list-item"><i class="si si-equalizer" container="body" ngbTooltip="si-equalizer"></i></li>
														<li class="icons-list-item"><i class="si si-like" container="body" ngbTooltip="si-like"></i></li>
														<li class="icons-list-item"><i class="si si-dislike" container="body" ngbTooltip="si-dislike"></i></li>
														<li class="icons-list-item"><i class="si si-control-start" container="body" ngbTooltip="si-control-start"></i></li>
														<li class="icons-list-item"><i class="si si-control-rewind" container="body" ngbTooltip="si-control-rewind"></i></li>
														<li class="icons-list-item"><i class="si si-control-play" container="body" ngbTooltip="si-control-play"></i></li>
														<li class="icons-list-item"><i class="si si-control-pause" container="body" ngbTooltip="si-control-pause"></i></li>
														<li class="icons-list-item"><i class="si si-control-forward" container="body" ngbTooltip="si-control-forward"></i></li>
														<li class="icons-list-item"><i class="si si-control-end" container="body" ngbTooltip="si-control-end"></i></li>
														<li class="icons-list-item"><i class="si si-volume-1" container="body" ngbTooltip="si-volume-1"></i></li>
														<li class="icons-list-item"><i class="si si-volume-2" container="body" ngbTooltip="si-volume-2"></i></li>
														<li class="icons-list-item"><i class="si si-volume-off" container="body" ngbTooltip="si-volume-off"></i></li>
														<li class="icons-list-item"><i class="si si-calendar" container="body" ngbTooltip="si-calendar"></i></li>
														<li class="icons-list-item"><i class="si si-bulb" container="body" ngbTooltip="si-bulb"></i></li>
														<li class="icons-list-item"><i class="si si-chart" container="body" ngbTooltip="si-chart"></i></li>
														<li class="icons-list-item"><i class="si si-ban" container="body" ngbTooltip="si-ban"></i></li>
														<li class="icons-list-item"><i class="si si-bubble" container="body" ngbTooltip="si-bubble"></i></li>
														<li class="icons-list-item"><i class="si si-camrecorder" container="body" ngbTooltip="si-camrecorder"></i></li>
														<li class="icons-list-item"><i class="si si-camera" container="body" ngbTooltip="si-camera"></i></li>
														<li class="icons-list-item"><i class="si si-cloud-download" container="body" ngbTooltip="si-cloud-download"></i></li>
														<li class="icons-list-item"><i class="si si-cloud-upload" container="body" ngbTooltip="si-cloud-upload"></i></li>
														<li class="icons-list-item"><i class="si si-envelope" container="body" ngbTooltip="si-envelope"></i></li>
														<li class="icons-list-item"><i class="si si-eye" container="body" ngbTooltip="si-eye"></i></li>
														<li class="icons-list-item"><i class="si si-flag" container="body" ngbTooltip="si-flag"></i></li>
														<li class="icons-list-item"><i class="si si-heart" container="body" ngbTooltip="si-heart"></i></li>
														<li class="icons-list-item"><i class="si si-info" container="body" ngbTooltip="si-info"></i></li>
														<li class="icons-list-item"><i class="si si-key" container="body" ngbTooltip="si-key"></i></li>
														<li class="icons-list-item"><i class="si si-link" container="body" ngbTooltip="si-link"></i></li>
														<li class="icons-list-item"><i class="si si-lock" container="body" ngbTooltip="si-lock"></i></li>
														<li class="icons-list-item"><i class="si si-lock-open" container="body" ngbTooltip="si-lock-open"></i></li>
														<li class="icons-list-item"><i class="si si-magnifier" container="body" ngbTooltip="si-magnifier"></i></li>
														<li class="icons-list-item"><i class="si si-magnifier-add" container="body" ngbTooltip="si-magnifier-add"></i></li>
														<li class="icons-list-item"><i class="si si-magnifier-remove" container="body" ngbTooltip="si-magnifier-remove"></i></li>
														<li class="icons-list-item"><i class="si si-paper-clip" container="body" ngbTooltip="si-paper-clip"></i></li>
														<li class="icons-list-item"><i class="si si-paper-plane" container="body" ngbTooltip="si-paper-plane"></i></li>
														<li class="icons-list-item"><i class="si si-power" container="body" ngbTooltip="si-power"></i></li>
														<li class="icons-list-item"><i class="si si-refresh" container="body" ngbTooltip="si-refresh"></i></li>
														<li class="icons-list-item"><i class="si si-reload" container="body" ngbTooltip="si-reload"></i></li>
														<li class="icons-list-item"><i class="si si-settings" container="body" ngbTooltip="si-settings"></i></li>
														<li class="icons-list-item"><i class="si si-star" container="body" ngbTooltip="si-star"></i></li>
														<li class="icons-list-item"><i class="si si-symbol-female" container="body" ngbTooltip="si-symbol-female"></i></li>
														<li class="icons-list-item"><i class="si si-symbol-male" container="body" ngbTooltip="si-symbol-male"></i></li>
														<li class="icons-list-item"><i class="si si-target" container="body" ngbTooltip="si-target"></i></li>
														<li class="icons-list-item"><i class="si si-credit-card" container="body" ngbTooltip="si-credit-card"></i></li>
														<li class="icons-list-item"><i class="si si-paypal" container="body" ngbTooltip="si-paypal"></i></li>
														<li class="icons-list-item"><i class="si si-social-tumblr" container="body" ngbTooltip="si-social-tumblr"></i></li>
														<li class="icons-list-item"><i class="si si-social-twitter" container="body" ngbTooltip="si-social-twitter"></i></li>
														<li class="icons-list-item"><i class="si si-social-facebook" container="body" ngbTooltip="si-social-facebook"></i></li>
														<li class="icons-list-item"><i class="si si-social-instagram" container="body" ngbTooltip="si-social-instagram"></i></li>
														<li class="icons-list-item"><i class="si si-social-linkedin" container="body" ngbTooltip="si-social-linkedin"></i></li>
														<li class="icons-list-item"><i class="si si-social-pinterest" container="body" ngbTooltip="si-social-pinterest"></i></li>
														<li class="icons-list-item"><i class="si si-social-github" container="body" ngbTooltip="si-social-github"></i></li>
														<li class="icons-list-item"><i class="si si-social-google" container="body" ngbTooltip="si-social-google"></i></li>
														<li class="icons-list-item"><i class="si si-social-reddit" container="body" ngbTooltip="si-social-reddit"></i></li>
														<li class="icons-list-item"><i class="si si-social-skype" container="body" ngbTooltip="si-social-skype"></i></li>
														<li class="icons-list-item"><i class="si si-social-dribbble" container="body" ngbTooltip="si-social-dribbble"></i></li>
														<li class="icons-list-item"><i class="si si-social-behance" container="body" ngbTooltip="si-social-behance"></i></li>
														<li class="icons-list-item"><i class="si si-social-foursqare" container="body" ngbTooltip="si-social-foursqare"></i></li>
														<li class="icons-list-item"><i class="si si-social-soundcloud" container="body" ngbTooltip="si-social-soundcloud"></i></li>
														<li class="icons-list-item"><i class="si si-social-spotify" container="body" ngbTooltip="si-social-spotify"></i></li>
														<li class="icons-list-item"><i class="si si-social-stumbleupon" container="body" ngbTooltip="si-social-stumbleupon"></i></li>
														<li class="icons-list-item"><i class="si si-social-youtube" container="body" ngbTooltip="si-social-youtube"></i></li>
														<li class="icons-list-item"><i class="si si-social-dropbox" container="body" ngbTooltip="si-social-dropbox"></i></li>
														<li class="icons-list-item"><i class="si si-social-vkontakte" container="body" ngbTooltip="si-social-vkontakte"></i></li>
														<li class="icons-list-item"><i class="si si-social-steam" container="body" ngbTooltip="si-social-steam"></i></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
														<li></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Row-->